Res/DevExpressLocalizedResources_2024.2_zh-CN/json resources/dx-rich.zh-CN.json
{
  "OfficeStringId.Caption_EditHyperlinkForm": "编辑超链接",
  "OfficeStringId.Caption_EditHyperlinkFormDescription": " ",
  "OfficeStringId.Caption_InsertHyperlinkForm": "插入超链接",
  "OfficeStringId.Caption_InsertHyperlinkFormDescription": " ",
  "OfficeStringId.Caption_UnitCentimeters": "厘米",
  "OfficeStringId.Caption_UnitInches": "英寸",
  "OfficeStringId.Caption_UnitMillimeters": "毫米",
  "OfficeStringId.Caption_UnitPercent": "%",
  "OfficeStringId.Caption_UnitPoints": "点",
  "OfficeStringId.FileFilterDescription_AllFiles": "所有的文件",
  "OfficeStringId.FileFilterDescription_AllSupportedFiles": "所有支持的文件",
  "OfficeStringId.FileFilterDescription_BitmapFiles": "Windows 位图",
  "OfficeStringId.FileFilterDescription_EmfFiles": "微软增强型图元文件",
  "OfficeStringId.FileFilterDescription_GifFiles": "立交的图形格式",
  "OfficeStringId.FileFilterDescription_JPEGFiles": "JPEG 文件交换格式",
  "OfficeStringId.FileFilterDescription_PNGFiles": "可移植网络图形",
  "OfficeStringId.FileFilterDescription_SvgFiles": "Scalable Vector Graphics",
  "OfficeStringId.FileFilterDescription_TiffFiles": "标记图像文件格式",
  "OfficeStringId.FileFilterDescription_WmfFiles": "Windows 图元文件",
  "OfficeStringId.MenuCmd_AlignmentCenter": "中心",
  "OfficeStringId.MenuCmd_AlignmentCenterDescription": "文本居中。",
  "OfficeStringId.MenuCmd_AlignmentJustify": "辩解",
  "OfficeStringId.MenuCmd_AlignmentJustifyDescription": "对齐文本与页边距的左和右，添加额外的空间，作为必要的单词之间。这将创建沿左侧和右侧页面的整洁外观。",
  "OfficeStringId.MenuCmd_AlignmentLeft": "使文本左对齐",
  "OfficeStringId.MenuCmd_AlignmentLeftDescription": "向左对齐文本。",
  "OfficeStringId.MenuCmd_AlignmentRight": "右对齐文本",
  "OfficeStringId.MenuCmd_AlignmentRightDescription": "向右对齐文本。",
  "OfficeStringId.MenuCmd_ChangeFontColor": "字体颜色",
  "OfficeStringId.MenuCmd_ChangeFontColorDescription": "更改文本的颜色。",
  "OfficeStringId.MenuCmd_ChangeFontName": "字体",
  "OfficeStringId.MenuCmd_ChangeFontNameDescription": "更改字体。",
  "OfficeStringId.MenuCmd_ChangeFontSize": "字体大小",
  "OfficeStringId.MenuCmd_ChangeFontSizeDescription": "更改字体大小。",
  "OfficeStringId.MenuCmd_ClearUndo": "ClearUndo",
  "OfficeStringId.MenuCmd_ClearUndoDescription": "清除撤消缓冲区",
  "OfficeStringId.MenuCmd_CopySelection": "副本",
  "OfficeStringId.MenuCmd_CopySelectionDescription": "复制所选内容并把它放在剪贴板上。",
  "OfficeStringId.MenuCmd_CutSelection": "切",
  "OfficeStringId.MenuCmd_CutSelectionDescription": "剪切所选内容从文档并把它放在剪贴板上。",
  "OfficeStringId.MenuCmd_DecreaseFontSize": "缩小字体",
  "OfficeStringId.MenuCmd_DecreaseFontSizeDescription": "减小字体大小。",
  "OfficeStringId.MenuCmd_DeleteComment": "删除",
  "OfficeStringId.MenuCmd_DeleteCommentDescription": "删除选定的注释。",
  "OfficeStringId.MenuCmd_EditComment": "Edit Comment",
  "OfficeStringId.MenuCmd_EditCommentDescription": "Add a note about this part of the document.",
  "OfficeStringId.MenuCmd_EditHyperlink": "编辑超链接...",
  "OfficeStringId.MenuCmd_EditHyperlinkDescription": "编辑超链接...",
  "OfficeStringId.MenuCmd_Encrypt": "Encrypt with Password",
  "OfficeStringId.MenuCmd_EncryptDescription": "Require a password to open this workbook.",
  "OfficeStringId.MenuCmd_FloatingObjectBringForward": "Bring Forward",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardCommandGroup": "Bring Forward",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardCommandGroupDescription": "Bring the selected object forward one level, or bring it in front of all the other objects.",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardDescription": "Bring the selected object forward so that it is hidden by fewer objects that are in front of it.",
  "OfficeStringId.MenuCmd_FloatingObjectBringToFront": "Bring to Front",
  "OfficeStringId.MenuCmd_FloatingObjectBringToFrontDescription": "Bring the selected object in front of all other objects so that no part of it is hidden behind other objects.",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackward": "Send Backward",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardCommandGroup": "Send Backward",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardCommandGroupDescription": "Send the selected object back one level, or send it behind all the other objects.",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardDescription": "Send the selected object backward so that it is hidden by the objects that are in front of it.",
  "OfficeStringId.MenuCmd_FloatingObjectSendToBack": "Send to Back",
  "OfficeStringId.MenuCmd_FloatingObjectSendToBackDescription": "Send the selected object behind all other objects.",
  "OfficeStringId.MenuCmd_Hyperlink": "超链接",
  "OfficeStringId.MenuCmd_HyperlinkDescription": "创建一个链接到网页、 图片、 电子邮件地址或一个程序。",
  "OfficeStringId.MenuCmd_IncreaseFontSize": "增大字体",
  "OfficeStringId.MenuCmd_IncreaseFontSizeDescription": "增加字体大小。",
  "OfficeStringId.MenuCmd_InsertComment": "插入注释",
  "OfficeStringId.MenuCmd_InsertCommentDescription": "添加有关所选内容的注释。",
  "OfficeStringId.MenuCmd_InsertFloatingObjectPicture": "图片",
  "OfficeStringId.MenuCmd_InsertFloatingObjectPictureDescription": "插入来自文件的图片。",
  "OfficeStringId.MenuCmd_InsertHyperlink": "超链接...",
  "OfficeStringId.MenuCmd_InsertHyperlinkDescription": "添加新的超链接。",
  "OfficeStringId.MenuCmd_InsertSymbol": "符号",
  "OfficeStringId.MenuCmd_InsertSymbolDescription": "Insert symbols that are not on your keyboard, such as copyright symbols, trademark symbols, paragraph marks and Unicode characters.",
  "OfficeStringId.MenuCmd_LoadDocument": "打开",
  "OfficeStringId.MenuCmd_LoadDocumentDescription": "打开文档。",
  "OfficeStringId.MenuCmd_NewEmptyDocument": "新建",
  "OfficeStringId.MenuCmd_NewEmptyDocumentDescription": "创建一个新文档。",
  "OfficeStringId.MenuCmd_None": " ",
  "OfficeStringId.MenuCmd_OpenHyperlink": "打开超链接",
  "OfficeStringId.MenuCmd_OpenHyperlinkDescription": "打开超链接",
  "OfficeStringId.MenuCmd_PageMarginsModerate": "适度顶部： {1,10} 底部： {3,10}左： {0,10} 右： {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsModerateDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsNarrow": "窄顶部： {1,10} 底部： {3,10}左： {0,10} 右： {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsNarrowDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsNormal": "正常顶部: {1,10} 底部： {3,10}左： {0,10} 右： {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsNormalDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsWide": "宽顶部： {1,10} 底部： {3,10}左： {0,10} 右： {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsWideDescription": " ",
  "OfficeStringId.MenuCmd_PageOrientationCommandGroup": "方向",
  "OfficeStringId.MenuCmd_PageOrientationCommandGroupDescription": "页面纵向和横向布局之间进行切换。",
  "OfficeStringId.MenuCmd_PageOrientationLandscape": "横向",
  "OfficeStringId.MenuCmd_PageOrientationLandscapeDescription": " ",
  "OfficeStringId.MenuCmd_PageOrientationPortrait": "纵向",
  "OfficeStringId.MenuCmd_PageOrientationPortraitDescription": " ",
  "OfficeStringId.MenuCmd_Paste": "粘贴",
  "OfficeStringId.MenuCmd_PasteDescription": "粘贴剪贴板中的内容。",
  "OfficeStringId.MenuCmd_Print": "打印",
  "OfficeStringId.MenuCmd_PrintDescription": "Select a printer, number of copies, and other printing options before printing.",
  "OfficeStringId.MenuCmd_PrintPreview": "打印预览",
  "OfficeStringId.MenuCmd_PrintPreviewDescription": "Preview pages before printing.",
  "OfficeStringId.MenuCmd_QuickPrint": "快速打印",
  "OfficeStringId.MenuCmd_QuickPrintDescription": "将文档直接发送到默认打印机不做更改。",
  "OfficeStringId.MenuCmd_Redo": "重做",
  "OfficeStringId.MenuCmd_RedoDescription": "重做",
  "OfficeStringId.MenuCmd_RemoveHyperlink": "删除超链接",
  "OfficeStringId.MenuCmd_RemoveHyperlinkDescription": "删除超链接",
  "OfficeStringId.MenuCmd_RemoveHyperlinks": "删除超链接",
  "OfficeStringId.MenuCmd_RemoveHyperlinksDescription": "删除超链接",
  "OfficeStringId.MenuCmd_SaveDocument": "保存",
  "OfficeStringId.MenuCmd_SaveDocumentAs": "另存为",
  "OfficeStringId.MenuCmd_SaveDocumentAsDescription": "另存为打开对话框，选择一种文件格式，并将文档保存到新的位置。",
  "OfficeStringId.MenuCmd_SaveDocumentDescription": "保存该文档。",
  "OfficeStringId.MenuCmd_ShowAltTextForm": "View Alt Text...",
  "OfficeStringId.MenuCmd_ShowPasteSpecialForm": "选择性粘贴",
  "OfficeStringId.MenuCmd_ShowPasteSpecialFormDescription": "显示选择性粘贴对话框。",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuHeader": "Customize Status Bar",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuZoom": "缩放",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuZoomSlider": "Zoom Slider",
  "OfficeStringId.MenuCmd_StatusBarZoomDescription": "Zoom level. Click to open the Zoom dialog box.",
  "OfficeStringId.MenuCmd_StatusBarZoomSliderDescription": "缩放",
  "OfficeStringId.MenuCmd_ToggleFontBold": "加粗",
  "OfficeStringId.MenuCmd_ToggleFontBoldDescription": "使选定的文本加粗。",
  "OfficeStringId.MenuCmd_ToggleFontDoubleUnderline": "双下划线",
  "OfficeStringId.MenuCmd_ToggleFontDoubleUnderlineDescription": "双下划线",
  "OfficeStringId.MenuCmd_ToggleFontItalic": "斜体",
  "OfficeStringId.MenuCmd_ToggleFontItalicDescription": "将选定的文本变为斜体。",
  "OfficeStringId.MenuCmd_ToggleFontStrikeout": "删除线",
  "OfficeStringId.MenuCmd_ToggleFontStrikeoutDescription": "绘制一条线穿过所选文本的中间。",
  "OfficeStringId.MenuCmd_ToggleFontUnderline": "下划线",
  "OfficeStringId.MenuCmd_ToggleFontUnderlineDescription": "为所选的文本添加下划线。",
  "OfficeStringId.MenuCmd_Undo": "撤消",
  "OfficeStringId.MenuCmd_UndoDescription": "撤消",
  "OfficeStringId.MenuCmd_Zoom100Percent": "100 %",
  "OfficeStringId.MenuCmd_Zoom100PercentDescription": "文档缩放到 100%的正常大小。",
  "OfficeStringId.MenuCmd_ZoomIn": "放大",
  "OfficeStringId.MenuCmd_ZoomInDescription": "放大",
  "OfficeStringId.MenuCmd_ZoomOut": "缩小",
  "OfficeStringId.MenuCmd_ZoomOutDescription": "缩小",
  "OfficeStringId.Msg_InternalError": "内部错误！",
  "OfficeStringId.Msg_InvalidBeginInit": "Error: call to BeginInit inside BeginUpdate",
  "OfficeStringId.Msg_InvalidBeginUpdate": "Error: call to BeginUpdate inside BeginInit",
  "OfficeStringId.Msg_InvalidCopyFromDocumentModel": "错误： 是不同的源和目标文档模型",
  "OfficeStringId.Msg_InvalidEndInit": "错误： 呼叫 EndInit 或 CancelInit 无 BeginInit 或内部 BeginUpdate",
  "OfficeStringId.Msg_InvalidEndUpdate": "Error: call to EndUpdate or CancelUpate without BeginUpdate or inside BeginInit",
  "OfficeStringId.Msg_InvalidFontSize": "数必须介于 {0} 和 {1} 之间。",
  "OfficeStringId.Msg_InvalidNumber": "这不是一个有效的数字。",
  "OfficeStringId.Msg_InvalidNumberConverterValue": "Value must be between {0} and {1}.",
  "OfficeStringId.Msg_InvalidRemoveDataSource": "A data source cannot be deleted during the mail-merge process.",
  "OfficeStringId.Msg_IsNotValid": "'{0}' 不是 '{1}'的有效值",
  "OfficeStringId.Msg_Loading": "加载......",
  "OfficeStringId.Msg_MagicNumberNotFound": "您试图打开的文件是在不同的格式不是由文件扩展名指定。",
  "OfficeStringId.Msg_UnsupportedFormatOrCorruptedFile": "Unsupported format or corrupted file.",
  "OfficeStringId.UnitAbbreviation_Centimeter": "cm",
  "OfficeStringId.UnitAbbreviation_Inch": "\"",
  "OfficeStringId.UnitAbbreviation_Millimeter": "mm",
  "OfficeStringId.UnitAbbreviation_Percent": "%",
  "OfficeStringId.UnitAbbreviation_Pica": "pc",
  "OfficeStringId.UnitAbbreviation_Point": "pt",
  "XtraRichEditStringId.BorderLineStyleNone": "无",
  "XtraRichEditStringId.Caption_AlignmentCenter": "居中",
  "XtraRichEditStringId.Caption_AlignmentDistribute": "Distributed",
  "XtraRichEditStringId.Caption_AlignmentJustify": "Justified",
  "XtraRichEditStringId.Caption_AlignmentJustifyHigh": "Justify High",
  "XtraRichEditStringId.Caption_AlignmentJustifyLow": "Justify Low",
  "XtraRichEditStringId.Caption_AlignmentJustifyMedium": "Justify Medium",
  "XtraRichEditStringId.Caption_AlignmentLeft": "左",
  "XtraRichEditStringId.Caption_AlignmentRight": "右",
  "XtraRichEditStringId.Caption_AlignmentThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.Caption_AllMarkup": "All Markup",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_Nothing": "Nothing",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_SpaceCharacter": "Space",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_TabCharacter": "Tab character",
  "XtraRichEditStringId.Caption_Bytes": "bytes",
  "XtraRichEditStringId.Caption_CaptionPrefixEquation": "Equation",
  "XtraRichEditStringId.Caption_CaptionPrefixFigure": "Figure",
  "XtraRichEditStringId.Caption_CaptionPrefixTable": "表",
  "XtraRichEditStringId.Caption_CharacterPositionLowered": "Lowered",
  "XtraRichEditStringId.Caption_CharacterPositionNormal": "正常",
  "XtraRichEditStringId.Caption_CharacterPositionRaised": "Raised",
  "XtraRichEditStringId.Caption_CharacterSpacingCondensed": "Condensed",
  "XtraRichEditStringId.Caption_CharacterSpacingExpanded": "Expanded",
  "XtraRichEditStringId.Caption_CharacterSpacingNormal": "正常",
  "XtraRichEditStringId.Caption_ClipboardSubItem": "剪贴板",
  "XtraRichEditStringId.Caption_ColorAutomatic": "自动",
  "XtraRichEditStringId.Caption_ColumnBreak": "Column Break",
  "XtraRichEditStringId.Caption_Comments": "评论",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_BottomLeftCell": "Bottom left cell",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_BottomRightCell": "右下角单元格",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_EvenColumnBanding": "Even banded columns",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_EvenRowBanding": "Even banded rows",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_FirstColumn": "第一列",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_FirstRow": "标题行",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_LastColumn": "最后一列",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_LastRow": "总计行",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_OddColumnBanding": "Odd banded columns",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_OddRowBanding": "Odd banded rows",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_TopLeftCell": "左上角单元格",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_TopRightCell": "右上角单元格",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_WholeTable": "整个表",
  "XtraRichEditStringId.Caption_CurrentDocumentHyperlinkTooltip": "当前文档",
  "XtraRichEditStringId.Caption_CurrentParagraphText": "示例文本",
  "XtraRichEditStringId.Caption_CustomPropertyCheckedBy": "Checked by",
  "XtraRichEditStringId.Caption_CustomPropertyClient": "Client",
  "XtraRichEditStringId.Caption_CustomPropertyDateCompleted": "Date completed",
  "XtraRichEditStringId.Caption_CustomPropertyDepartment": "Department",
  "XtraRichEditStringId.Caption_CustomPropertyDestination": "Destination",
  "XtraRichEditStringId.Caption_CustomPropertyDisposition": "Disposition",
  "XtraRichEditStringId.Caption_CustomPropertyDivision": "Division",
  "XtraRichEditStringId.Caption_CustomPropertyDocumentNumber": "Document number",
  "XtraRichEditStringId.Caption_CustomPropertyEditor": "Editor",
  "XtraRichEditStringId.Caption_CustomPropertyForwardTo": "Forward to",
  "XtraRichEditStringId.Caption_CustomPropertyGroup": "组",
  "XtraRichEditStringId.Caption_CustomPropertyLanguage": "Language",
  "XtraRichEditStringId.Caption_CustomPropertyMailstop": "Mailstop",
  "XtraRichEditStringId.Caption_CustomPropertyMatter": "Matter",
  "XtraRichEditStringId.Caption_CustomPropertyNo": "否",
  "XtraRichEditStringId.Caption_CustomPropertyOffice": "Office",
  "XtraRichEditStringId.Caption_CustomPropertyOwner": "Owner",
  "XtraRichEditStringId.Caption_CustomPropertyProject": "Project",
  "XtraRichEditStringId.Caption_CustomPropertyPublisher": "Publisher",
  "XtraRichEditStringId.Caption_CustomPropertyPurpose": "Purpose",
  "XtraRichEditStringId.Caption_CustomPropertyReceivedFrom": "Received from",
  "XtraRichEditStringId.Caption_CustomPropertyRecordedBy": "Recorded by",
  "XtraRichEditStringId.Caption_CustomPropertyRecordedDate": "Recorded date",
  "XtraRichEditStringId.Caption_CustomPropertyReference": "Reference",
  "XtraRichEditStringId.Caption_CustomPropertySource": "Source",
  "XtraRichEditStringId.Caption_CustomPropertyStatus": "Status",
  "XtraRichEditStringId.Caption_CustomPropertyTelephoneNumber": "Telephone number",
  "XtraRichEditStringId.Caption_CustomPropertyTypeBoolean": "Yes or no",
  "XtraRichEditStringId.Caption_CustomPropertyTypeDateTime": "日期",
  "XtraRichEditStringId.Caption_CustomPropertyTypeNumber": "数字",
  "XtraRichEditStringId.Caption_CustomPropertyTypeText": "文本",
  "XtraRichEditStringId.Caption_CustomPropertyTypist": "Typist",
  "XtraRichEditStringId.Caption_CustomPropertyValue": "值",
  "XtraRichEditStringId.Caption_CustomPropertyYes": "是",
  "XtraRichEditStringId.Caption_EmptyParentStyle": "（基础属性）",
  "XtraRichEditStringId.Caption_EvenPageFooter": "偶数页页脚",
  "XtraRichEditStringId.Caption_EvenPageHeader": "偶数页页眉",
  "XtraRichEditStringId.Caption_FillInForms": "Filling in Forms",
  "XtraRichEditStringId.Caption_FirstLineIndentHanging": "Hanging",
  "XtraRichEditStringId.Caption_FirstLineIndentIndented": "第一行",
  "XtraRichEditStringId.Caption_FirstLineIndentNone": "(无)",
  "XtraRichEditStringId.Caption_FirstPageFooter": "第一页的页脚",
  "XtraRichEditStringId.Caption_FirstPageHeader": "第一页页眉",
  "XtraRichEditStringId.Caption_FollowingParagraphText": "Following Paragraph ",
  "XtraRichEditStringId.Caption_GroupDocumentChanges": "Changes",
  "XtraRichEditStringId.Caption_GroupNotes": "Footnotes",
  "XtraRichEditStringId.Caption_GroupTableAlignment": "对齐方式",
  "XtraRichEditStringId.Caption_GroupTableCellSize": "单元格的大小",
  "XtraRichEditStringId.Caption_GroupTableDrawBorders": "边界 & & 阴影",
  "XtraRichEditStringId.Caption_GroupTableMerge": "合并",
  "XtraRichEditStringId.Caption_GroupTableRowsAndColumns": "行 & & 列",
  "XtraRichEditStringId.Caption_GroupTableStyleOptions": "表样式选项",
  "XtraRichEditStringId.Caption_GroupTableStyles": "表格样式",
  "XtraRichEditStringId.Caption_GroupTableTable": "表",
  "XtraRichEditStringId.Caption_Heading": "标题",
  "XtraRichEditStringId.Caption_HeightTypeExact": "Exactly",
  "XtraRichEditStringId.Caption_HeightTypeMinimum": "At least",
  "XtraRichEditStringId.Caption_LineSpacingAtLeast": "At least",
  "XtraRichEditStringId.Caption_LineSpacingDouble": "Double",
  "XtraRichEditStringId.Caption_LineSpacingExactly": "Exactly",
  "XtraRichEditStringId.Caption_LineSpacingMultiple": "Multiple",
  "XtraRichEditStringId.Caption_LineSpacingSesquialteral": "1.5 lines",
  "XtraRichEditStringId.Caption_LineSpacingSingle": "Single",
  "XtraRichEditStringId.Caption_MainDocumentComments": "Main document comments",
  "XtraRichEditStringId.Caption_NoColor": "没有颜色",
  "XtraRichEditStringId.Caption_NoMarkup": "No Markup",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountFourColumn": "4 column",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountMatchSectionLayout": "Match section layout",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountOneColumn": "1 column",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountThreeColumn": "3 column",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountTwoColumn": "2 column",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeContinuous": "连续",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeNewPage": "Restart each page",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeNewSection": "Restart each section",
  "XtraRichEditStringId.Caption_NotePositionBelowText": "Below text",
  "XtraRichEditStringId.Caption_NotePositionBottomOfPage": "Bottom of page",
  "XtraRichEditStringId.Caption_NotePositionEndOfDocument": "End of document",
  "XtraRichEditStringId.Caption_NotePositionEndOfSection": "End of section",
  "XtraRichEditStringId.Caption_NumberingListBoxNone": "无",
  "XtraRichEditStringId.Caption_OddPageFooter": "奇数页页脚",
  "XtraRichEditStringId.Caption_OddPageHeader": "奇数页页眉",
  "XtraRichEditStringId.Caption_OriginalMarkup": "Original",
  "XtraRichEditStringId.Caption_OutlineLevel1": "第 1 级",
  "XtraRichEditStringId.Caption_OutlineLevel2": "第 2 级",
  "XtraRichEditStringId.Caption_OutlineLevel3": "第 3 级",
  "XtraRichEditStringId.Caption_OutlineLevel4": "第 4 级",
  "XtraRichEditStringId.Caption_OutlineLevel5": "第 5 级",
  "XtraRichEditStringId.Caption_OutlineLevel6": "Level 6",
  "XtraRichEditStringId.Caption_OutlineLevel7": "第 7 级",
  "XtraRichEditStringId.Caption_OutlineLevel8": "第 8 级",
  "XtraRichEditStringId.Caption_OutlineLevel9": "第 9 级",
  "XtraRichEditStringId.Caption_OutlineLevelBody": "正文文本",
  "XtraRichEditStringId.Caption_PageBreak": "分页符",
  "XtraRichEditStringId.Caption_PageCategoryTableTools": "表格工具",
  "XtraRichEditStringId.Caption_PageFooter": "页脚",
  "XtraRichEditStringId.Caption_PageHeader": "标头",
  "XtraRichEditStringId.Caption_PageSetupSectionDirectionLeftToRight": "Left-to-right",
  "XtraRichEditStringId.Caption_PageSetupSectionDirectionRightToLeft": "Right-to-left",
  "XtraRichEditStringId.Caption_PageSetupSectionStartColumn": "新列",
  "XtraRichEditStringId.Caption_PageSetupSectionStartContinuous": "连续",
  "XtraRichEditStringId.Caption_PageSetupSectionStartEvenPage": "偶数页",
  "XtraRichEditStringId.Caption_PageSetupSectionStartNextPage": "新的一页",
  "XtraRichEditStringId.Caption_PageSetupSectionStartOddPage": "奇数页",
  "XtraRichEditStringId.Caption_PageTableDesign": "设计",
  "XtraRichEditStringId.Caption_PageTableLayout": "布局",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Center": "中心",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Distribute": "Distributed",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Justify": "Justify",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyHigh": "Justify High",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyLow": "Justify Low",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyMedium": "Justify Medium",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Left": "左",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Right": "右",
  "XtraRichEditStringId.Caption_ParagraphAlignment_ThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_Hanging": "Hanging",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_Indented": "Indented",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_None": "无",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_AtLeast": "At Least",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Double": "Double",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Exactly": "Exactly",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Multiple": "Multiple",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Sesquialteral": "Sesquialteral",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Single": "Single",
  "XtraRichEditStringId.Caption_PreviousParagraphText": "前一段",
  "XtraRichEditStringId.Caption_Readonly": "No changes (Read only)",
  "XtraRichEditStringId.Caption_SameAsPrevious": "Same as Previous",
  "XtraRichEditStringId.Caption_SectionBreak": "Section Break",
  "XtraRichEditStringId.Caption_SectionBreakTypeColumn": "列",
  "XtraRichEditStringId.Caption_SectionBreakTypeContinuous": "连续",
  "XtraRichEditStringId.Caption_SectionBreakTypeEvenPage": "Even Page",
  "XtraRichEditStringId.Caption_SectionBreakTypeNextPage": "下页",
  "XtraRichEditStringId.Caption_SectionBreakTypeOddPage": "Odd Page",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyThisPointForward": "这点向前",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToCurrentSection": "当前节",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToSelectedSections": "所选节",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToWholeDocument": "整篇文档",
  "XtraRichEditStringId.Caption_SectionPropertiesGutterPositionLeft": "左",
  "XtraRichEditStringId.Caption_SectionPropertiesGutterPositionRight": "右",
  "XtraRichEditStringId.Caption_SectionPropertiesGutterPositionTop": "顶部",
  "XtraRichEditStringId.Caption_SectionPropertiesMultiplePagesMirrored": "Mirror margins",
  "XtraRichEditStringId.Caption_SectionPropertiesMultiplePagesNormal": "正常",
  "XtraRichEditStringId.Caption_SimpleMarkup": "Simple Markup",
  "XtraRichEditStringId.Caption_TrackedChanges": "Tracked Changes",
  "XtraRichEditStringId.Caption_WatermarkApplyToCurrentSection": "Current section",
  "XtraRichEditStringId.Caption_WatermarkApplyToWholeDocument": "Whole document",
  "XtraRichEditStringId.Caption_WatermarkFontSizeAuto": "自动",
  "XtraRichEditStringId.Caption_WatermarkPictureExist": "Existing watermark",
  "XtraRichEditStringId.Caption_WatermarkPictureScale100p": "100 %",
  "XtraRichEditStringId.Caption_WatermarkPictureScale150p": "150%",
  "XtraRichEditStringId.Caption_WatermarkPictureScale200p": "200%",
  "XtraRichEditStringId.Caption_WatermarkPictureScale500p": "500%",
  "XtraRichEditStringId.Caption_WatermarkPictureScale50p": "50%",
  "XtraRichEditStringId.Caption_WatermarkPictureScaleAuto": "自动",
  "XtraRichEditStringId.Caption_WatermarkPictureSelect": "Select picture...",
  "XtraRichEditStringId.Caption_WatermarkTextAsap": "ASAP",
  "XtraRichEditStringId.Caption_WatermarkTextConfidential": "CONFIDENTIAL",
  "XtraRichEditStringId.Caption_WatermarkTextCopy": "COPY",
  "XtraRichEditStringId.Caption_WatermarkTextDoNotCopy": "DO NOT COPY",
  "XtraRichEditStringId.Caption_WatermarkTextDraft": "DRAFT",
  "XtraRichEditStringId.Caption_WatermarkTextOriginal": "ORIGINAL",
  "XtraRichEditStringId.Caption_WatermarkTextPersonal": "PERSONAL",
  "XtraRichEditStringId.Caption_WatermarkTextSample": "SAMPLE",
  "XtraRichEditStringId.Caption_WatermarkTextTopSecret": "TOP SECRET",
  "XtraRichEditStringId.Caption_WatermarkTextUrgent": "URGENT",
  "XtraRichEditStringId.ClearFormatting": "Clear Formatting",
  "XtraRichEditStringId.ColorAuto": "自动",
  "XtraRichEditStringId.ColumnsSetupForm_InvalidColumnCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.Comment": "Comment [{0} {1}]",
  "XtraRichEditStringId.CommentToolTipHeader": "by {0}",
  "XtraRichEditStringId.CommentToolTipHeaderWithDate": "{0} from {1}",
  "XtraRichEditStringId.DefaultDocumentName": "文档",
  "XtraRichEditStringId.DefaultStyleName_annotationreference": "注释参考",
  "XtraRichEditStringId.DefaultStyleName_annotationsubject": "annotation subject",
  "XtraRichEditStringId.DefaultStyleName_annotationtext": "annotation text",
  "XtraRichEditStringId.DefaultStyleName_ArticleSection": "Article / Section",
  "XtraRichEditStringId.DefaultStyleName_BalloonText": "批注框文本",
  "XtraRichEditStringId.DefaultStyleName_Bibliography": "Bibliography",
  "XtraRichEditStringId.DefaultStyleName_BlockText": "Block Text",
  "XtraRichEditStringId.DefaultStyleName_BodyText": "正文文本",
  "XtraRichEditStringId.DefaultStyleName_BodyText2": "正文文本 2",
  "XtraRichEditStringId.DefaultStyleName_BodyText3": "正文文本 3",
  "XtraRichEditStringId.DefaultStyleName_BodyTextFirstIndent": "Body Text First Indent",
  "XtraRichEditStringId.DefaultStyleName_BodyTextFirstIndent2": "正文首行缩进 2",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent": "Body Text Indent",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent2": "正文文本缩进 2",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent3": "正文文本缩进 3",
  "XtraRichEditStringId.DefaultStyleName_BookTitle": "Book Title",
  "XtraRichEditStringId.DefaultStyleName_caption": "标题",
  "XtraRichEditStringId.DefaultStyleName_Closing": "关闭",
  "XtraRichEditStringId.DefaultStyleName_ColorfulGrid": "Colorful Grid",
  "XtraRichEditStringId.DefaultStyleName_ColorfulGridAccent1": "Colorful Grid - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ColorfulGridAccent2": "Colorful Grid - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ColorfulGridAccent3": "Colorful Grid - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ColorfulGridAccent4": "Colorful Grid - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ColorfulGridAccent5": "Colorful Grid - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ColorfulGridAccent6": "Colorful Grid - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ColorfulList": "Colorful List",
  "XtraRichEditStringId.DefaultStyleName_ColorfulListAccent1": "Colorful List - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ColorfulListAccent2": "Colorful List - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ColorfulListAccent3": "Colorful List - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ColorfulListAccent4": "Colorful List - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ColorfulListAccent5": "Colorful List - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ColorfulListAccent6": "Colorful List - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ColorfulShading": "Colorful Shading",
  "XtraRichEditStringId.DefaultStyleName_ColorfulShadingAccent1": "Colorful Shading - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ColorfulShadingAccent2": "Colorful Shading - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ColorfulShadingAccent3": "Colorful Shading - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ColorfulShadingAccent4": "Colorful Shading - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ColorfulShadingAccent5": "Colorful Shading - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ColorfulShadingAccent6": "Colorful Shading - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_CommentReference": "Comment Reference",
  "XtraRichEditStringId.DefaultStyleName_CommentSubject": "Comment Subject",
  "XtraRichEditStringId.DefaultStyleName_CommentText": "Comment Text",
  "XtraRichEditStringId.DefaultStyleName_DarkList": "Dark List",
  "XtraRichEditStringId.DefaultStyleName_DarkListAccent1": "Dark List - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_DarkListAccent2": "Dark List - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_DarkListAccent3": "Dark List - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_DarkListAccent4": "Dark List - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_DarkListAccent5": "Dark List - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_DarkListAccent6": "Dark List - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_Date": "日期",
  "XtraRichEditStringId.DefaultStyleName_DefaultParagraphFont": "默认段落字体",
  "XtraRichEditStringId.DefaultStyleName_DocumentMap": "文档结构图",
  "XtraRichEditStringId.DefaultStyleName_EmailSignature": "电子邮件签名",
  "XtraRichEditStringId.DefaultStyleName_Emphasis": "Emphasis",
  "XtraRichEditStringId.DefaultStyleName_endnotereference": "尾注引用",
  "XtraRichEditStringId.DefaultStyleName_endnotetext": "尾注文本",
  "XtraRichEditStringId.DefaultStyleName_envelopeaddress": "信封地址",
  "XtraRichEditStringId.DefaultStyleName_envelopereturn": "寄信人地址",
  "XtraRichEditStringId.DefaultStyleName_FollowedHyperlink": "FollowedHyperlink",
  "XtraRichEditStringId.DefaultStyleName_footer": "页脚",
  "XtraRichEditStringId.DefaultStyleName_footnotereference": "脚注引用",
  "XtraRichEditStringId.DefaultStyleName_footnotetext": "脚注文本",
  "XtraRichEditStringId.DefaultStyleName_GridTable1Light": "Grid Table 1 Light",
  "XtraRichEditStringId.DefaultStyleName_GridTable1LightAccent1": "Grid Table 1 Light - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_GridTable1LightAccent2": "Grid Table 1 Light - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable1LightAccent3": "Grid Table 1 Light - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable1LightAccent4": "Grid Table 1 Light - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable1LightAccent5": "Grid Table 1 Light - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_GridTable1LightAccent6": "Grid Table 1 Light - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_GridTable2": "Grid Table 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable2Accent1": "Grid Table 2 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_GridTable2Accent2": "Grid Table 2 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable2Accent3": "Grid Table 2 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable2Accent4": "Grid Table 2 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable2Accent5": "Grid Table 2 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_GridTable2Accent6": "Grid Table 2 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_GridTable3": "Grid Table 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable3Accent1": "Grid Table 3 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_GridTable3Accent2": "Grid Table 3 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable3Accent3": "Grid Table 3 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable3Accent4": "Grid Table 3 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable3Accent5": "Grid Table 3 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_GridTable3Accent6": "Grid Table 3 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_GridTable4": "Grid Table 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable4Accent1": "Grid Table 4 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_GridTable4Accent2": "Grid Table 4 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable4Accent3": "Grid Table 4 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable4Accent4": "Grid Table 4 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable4Accent5": "Grid Table 4 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_GridTable4Accent6": "Grid Table 4 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_GridTable5Dark": "Grid Table 5 Dark",
  "XtraRichEditStringId.DefaultStyleName_GridTable5DarkAccent1": "Grid Table 5 Dark - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_GridTable5DarkAccent2": "Grid Table 5 Dark - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable5DarkAccent3": "Grid Table 5 Dark - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable5DarkAccent4": "Grid Table 5 Dark - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable5DarkAccent5": "Grid Table 5 Dark - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_GridTable5DarkAccent6": "Grid Table 5 Dark - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_GridTable6Colorful": "Grid Table 6 Colorful",
  "XtraRichEditStringId.DefaultStyleName_GridTable6ColorfulAccent1": "Grid Table 6 Colorful - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_GridTable6ColorfulAccent2": "Grid Table 6 Colorful - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable6ColorfulAccent3": "Grid Table 6 Colorful - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable6ColorfulAccent4": "Grid Table 6 Colorful - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable6ColorfulAccent5": "Grid Table 6 Colorful - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_GridTable6ColorfulAccent6": "Grid Table 6 Colorful - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_GridTable7Colorful": "Grid Table 7 Colorful",
  "XtraRichEditStringId.DefaultStyleName_GridTable7ColorfulAccent1": "Grid Table 7 Colorful - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_GridTable7ColorfulAccent2": "Grid Table 7 Colorful - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_GridTable7ColorfulAccent3": "Grid Table 7 Colorful - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_GridTable7ColorfulAccent4": "Grid Table 7 Colorful - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_GridTable7ColorfulAccent5": "Grid Table 7 Colorful - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_GridTable7ColorfulAccent6": "Grid Table 7 Colorful - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_Hashtag": "Hashtag",
  "XtraRichEditStringId.DefaultStyleName_header": "标头",
  "XtraRichEditStringId.DefaultStyleName_heading1": "标题 1",
  "XtraRichEditStringId.DefaultStyleName_heading2": "标题 2",
  "XtraRichEditStringId.DefaultStyleName_heading3": "标题 3",
  "XtraRichEditStringId.DefaultStyleName_heading4": "标题 4",
  "XtraRichEditStringId.DefaultStyleName_heading5": "标题 5",
  "XtraRichEditStringId.DefaultStyleName_heading6": "标题 6",
  "XtraRichEditStringId.DefaultStyleName_heading7": "标题 7",
  "XtraRichEditStringId.DefaultStyleName_heading8": "标题 8",
  "XtraRichEditStringId.DefaultStyleName_heading9": "标题 9",
  "XtraRichEditStringId.DefaultStyleName_HTMLAcronym": "HTML 的首字母缩写",
  "XtraRichEditStringId.DefaultStyleName_HTMLAddress": "HTML 地址",
  "XtraRichEditStringId.DefaultStyleName_HTMLBottomofForm": "HTML 窗体的底部",
  "XtraRichEditStringId.DefaultStyleName_HTMLCite": "HTML 举",
  "XtraRichEditStringId.DefaultStyleName_HTMLCode": "HTML 代码",
  "XtraRichEditStringId.DefaultStyleName_HTMLDefinition": "HTML 定义",
  "XtraRichEditStringId.DefaultStyleName_HTMLKeyboard": "HTML 键盘",
  "XtraRichEditStringId.DefaultStyleName_HTMLPreformatted": "预设格式的 HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLSample": "HTML 示例",
  "XtraRichEditStringId.DefaultStyleName_HTMLTopofForm": "HTML 窗体的顶部",
  "XtraRichEditStringId.DefaultStyleName_HTMLTypewriter": "HTML 的打字机",
  "XtraRichEditStringId.DefaultStyleName_HTMLVariable": "HTML 变量",
  "XtraRichEditStringId.DefaultStyleName_HyperlinkFollowed": "HyperlinkFollowed",
  "XtraRichEditStringId.DefaultStyleName_HyperlinkStrongEmphasis": "HyperlinkStrongEmphasis",
  "XtraRichEditStringId.DefaultStyleName_index1": "索引 1",
  "XtraRichEditStringId.DefaultStyleName_index2": "Index 2",
  "XtraRichEditStringId.DefaultStyleName_index3": "索引 3",
  "XtraRichEditStringId.DefaultStyleName_index4": "指数 4",
  "XtraRichEditStringId.DefaultStyleName_index5": "索引 5",
  "XtraRichEditStringId.DefaultStyleName_index6": "索引 6",
  "XtraRichEditStringId.DefaultStyleName_index7": "指数 7",
  "XtraRichEditStringId.DefaultStyleName_index8": "指数 8",
  "XtraRichEditStringId.DefaultStyleName_index9": "索引 9",
  "XtraRichEditStringId.DefaultStyleName_indexheading": "索引标题",
  "XtraRichEditStringId.DefaultStyleName_IntenseEmphasis": "Intense Emphasis",
  "XtraRichEditStringId.DefaultStyleName_IntenseQuote": "Intense Quote",
  "XtraRichEditStringId.DefaultStyleName_IntenseReference": "Intense Reference",
  "XtraRichEditStringId.DefaultStyleName_LightGrid": "Light Grid",
  "XtraRichEditStringId.DefaultStyleName_LightGridAccent1": "Light Grid - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_LightGridAccent2": "Light Grid - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_LightGridAccent3": "Light Grid - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_LightGridAccent4": "Light Grid - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_LightGridAccent5": "Light Grid - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_LightGridAccent6": "Light Grid - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_LightList": "Light List",
  "XtraRichEditStringId.DefaultStyleName_LightListAccent1": "Light List - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_LightListAccent2": "Light List - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_LightListAccent3": "Light List - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_LightListAccent4": "Light List - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_LightListAccent5": "Light List - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_LightListAccent6": "Light List - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_LightShading": "Light Shading",
  "XtraRichEditStringId.DefaultStyleName_LightShadingAccent1": "Light Shading - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_LightShadingAccent2": "Light Shading - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_LightShadingAccent3": "Light Shading - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_LightShadingAccent4": "Light Shading - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_LightShadingAccent5": "Light Shading - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_LightShadingAccent6": "Light Shading - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_linenumber": "行号",
  "XtraRichEditStringId.DefaultStyleName_List": "列表",
  "XtraRichEditStringId.DefaultStyleName_List2": "列表 2",
  "XtraRichEditStringId.DefaultStyleName_List3": "列表 3",
  "XtraRichEditStringId.DefaultStyleName_List4": "列表 4",
  "XtraRichEditStringId.DefaultStyleName_List5": "列表 5",
  "XtraRichEditStringId.DefaultStyleName_ListBullet": "列表项目符号",
  "XtraRichEditStringId.DefaultStyleName_ListBullet2": "列表项目符号 2",
  "XtraRichEditStringId.DefaultStyleName_ListBullet3": "列表项目符号 3",
  "XtraRichEditStringId.DefaultStyleName_ListBullet4": "列表项目符号 4",
  "XtraRichEditStringId.DefaultStyleName_ListBullet5": "列表项目符号 5",
  "XtraRichEditStringId.DefaultStyleName_ListContinue": "列表中继续",
  "XtraRichEditStringId.DefaultStyleName_ListContinue2": "列表继续 2",
  "XtraRichEditStringId.DefaultStyleName_ListContinue3": "列表继续 3",
  "XtraRichEditStringId.DefaultStyleName_ListContinue4": "列表继续 4",
  "XtraRichEditStringId.DefaultStyleName_ListContinue5": "列表继续 5",
  "XtraRichEditStringId.DefaultStyleName_ListNumber": "列表编号",
  "XtraRichEditStringId.DefaultStyleName_ListNumber2": "列表编号 2",
  "XtraRichEditStringId.DefaultStyleName_ListNumber3": "列表编号 3",
  "XtraRichEditStringId.DefaultStyleName_ListNumber4": "列表编号 4",
  "XtraRichEditStringId.DefaultStyleName_ListNumber5": "列表编号 5",
  "XtraRichEditStringId.DefaultStyleName_ListParagraph": "List Paragraph",
  "XtraRichEditStringId.DefaultStyleName_ListTable1Light": "List Table 1 Light",
  "XtraRichEditStringId.DefaultStyleName_ListTable1LightAccent1": "List Table 1 Light - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ListTable1LightAccent2": "List Table 1 Light - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable1LightAccent3": "List Table 1 Light - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable1LightAccent4": "List Table 1 Light - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable1LightAccent5": "List Table 1 Light - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ListTable1LightAccent6": "List Table 1 Light - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ListTable2": "List Table 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable2Accent1": "List Table 2 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ListTable2Accent2": "List Table 2 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable2Accent3": "List Table 2 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable2Accent4": "List Table 2 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable2Accent5": "List Table 2 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ListTable2Accent6": "List Table 2 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ListTable3": "List Table 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable3Accent1": "List Table 3 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ListTable3Accent2": "List Table 3 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable3Accent3": "List Table 3 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable3Accent4": "List Table 3 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable3Accent5": "List Table 3 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ListTable3Accent6": "List Table 3 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ListTable4": "List Table 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable4Accent1": "List Table 4 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ListTable4Accent2": "List Table 4 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable4Accent3": "List Table 4 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable4Accent4": "List Table 4 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable4Accent5": "List Table 4 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ListTable4Accent6": "List Table 4 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ListTable5Dark": "List Table 5 Dark",
  "XtraRichEditStringId.DefaultStyleName_ListTable5DarkAccent1": "List Table 5 Dark - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ListTable5DarkAccent2": "List Table 5 Dark - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable5DarkAccent3": "List Table 5 Dark - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable5DarkAccent4": "List Table 5 Dark - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable5DarkAccent5": "List Table 5 Dark - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ListTable5DarkAccent6": "List Table 5 Dark - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ListTable6Colorful": "List Table 6 Colorful",
  "XtraRichEditStringId.DefaultStyleName_ListTable6ColorfulAccent1": "List Table 6 Colorful - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ListTable6ColorfulAccent2": "List Table 6 Colorful - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable6ColorfulAccent3": "List Table 6 Colorful - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable6ColorfulAccent4": "List Table 6 Colorful - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable6ColorfulAccent5": "List Table 6 Colorful - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ListTable6ColorfulAccent6": "List Table 6 Colorful - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_ListTable7Colorful": "List Table 7 Colorful",
  "XtraRichEditStringId.DefaultStyleName_ListTable7ColorfulAccent1": "List Table 7 Colorful - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_ListTable7ColorfulAccent2": "List Table 7 Colorful - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_ListTable7ColorfulAccent3": "List Table 7 Colorful - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_ListTable7ColorfulAccent4": "List Table 7 Colorful - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_ListTable7ColorfulAccent5": "List Table 7 Colorful - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_ListTable7ColorfulAccent6": "List Table 7 Colorful - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_MacroText": "Macro Text",
  "XtraRichEditStringId.DefaultStyleName_macrotoaheading": "macro to a heading",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid1": "Medium Grid 1",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid1Accent1": "Medium Grid 1 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid1Accent2": "Medium Grid 1 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid1Accent3": "Medium Grid 1 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid1Accent4": "Medium Grid 1 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid1Accent5": "Medium Grid 1 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid1Accent6": "Medium Grid 1 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid2": "Medium Grid 2",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid2Accent1": "Medium Grid 2 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid2Accent2": "Medium Grid 2 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid2Accent3": "Medium Grid 2 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid2Accent4": "Medium Grid 2 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid2Accent5": "Medium Grid 2 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid2Accent6": "Medium Grid 2 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid3": "Medium Grid 3",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid3Accent1": "Medium Grid 3 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid3Accent2": "Medium Grid 3 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid3Accent3": "Medium Grid 3 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid3Accent4": "Medium Grid 3 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid3Accent5": "Medium Grid 3 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_MediumGrid3Accent6": "Medium Grid 3 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_MediumList1": "Medium List 1",
  "XtraRichEditStringId.DefaultStyleName_MediumList1Accent1": "Medium List 1 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_MediumList1Accent2": "Medium List 1 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_MediumList1Accent3": "Medium List 1 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_MediumList1Accent4": "Medium List 1 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_MediumList1Accent5": "Medium List 1 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_MediumList1Accent6": "Medium List 1 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_MediumList2": "Medium List 2",
  "XtraRichEditStringId.DefaultStyleName_MediumList2Accent1": "Medium List 2 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_MediumList2Accent2": "Medium List 2 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_MediumList2Accent3": "Medium List 2 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_MediumList2Accent4": "Medium List 2 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_MediumList2Accent5": "Medium List 2 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_MediumList2Accent6": "Medium List 2 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_MediumShading1": "Medium Shading 1",
  "XtraRichEditStringId.DefaultStyleName_MediumShading1Accent1": "Medium Shading 1 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_MediumShading1Accent2": "Medium Shading 1 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_MediumShading1Accent3": "Medium Shading 1 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_MediumShading1Accent4": "Medium Shading 1 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_MediumShading1Accent5": "Medium Shading 1 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_MediumShading1Accent6": "Medium Shading 1 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_MediumShading2": "Medium Shading 2",
  "XtraRichEditStringId.DefaultStyleName_MediumShading2Accent1": "Medium Shading 2 - Accent 1",
  "XtraRichEditStringId.DefaultStyleName_MediumShading2Accent2": "Medium Shading 2 - Accent 2",
  "XtraRichEditStringId.DefaultStyleName_MediumShading2Accent3": "Medium Shading 2 - Accent 3",
  "XtraRichEditStringId.DefaultStyleName_MediumShading2Accent4": "Medium Shading 2 - Accent 4",
  "XtraRichEditStringId.DefaultStyleName_MediumShading2Accent5": "Medium Shading 2 - Accent 5",
  "XtraRichEditStringId.DefaultStyleName_MediumShading2Accent6": "Medium Shading 2 - Accent 6",
  "XtraRichEditStringId.DefaultStyleName_Mention": "Mention",
  "XtraRichEditStringId.DefaultStyleName_MessageHeader": "Message Header",
  "XtraRichEditStringId.DefaultStyleName_NoList": "没有列表",
  "XtraRichEditStringId.DefaultStyleName_Normal": "正常",
  "XtraRichEditStringId.DefaultStyleName_NormalIndent": "Normal Indent",
  "XtraRichEditStringId.DefaultStyleName_NormalTable": "正常的表",
  "XtraRichEditStringId.DefaultStyleName_NormalWeb": "正常 (Web)",
  "XtraRichEditStringId.DefaultStyleName_NoSpacing": "No Spacing",
  "XtraRichEditStringId.DefaultStyleName_NoteHeading": "注释标题",
  "XtraRichEditStringId.DefaultStyleName_OutlineList1": "大纲列表 1",
  "XtraRichEditStringId.DefaultStyleName_OutlineList2": "大纲列表 2",
  "XtraRichEditStringId.DefaultStyleName_OutlineList3": "大纲列表 3",
  "XtraRichEditStringId.DefaultStyleName_pagenumber": "页号",
  "XtraRichEditStringId.DefaultStyleName_PlaceholderText": "Placeholder Text",
  "XtraRichEditStringId.DefaultStyleName_PlainTable1": "Plain Table 1",
  "XtraRichEditStringId.DefaultStyleName_PlainTable2": "Plain Table 2",
  "XtraRichEditStringId.DefaultStyleName_PlainTable3": "Plain Table 3",
  "XtraRichEditStringId.DefaultStyleName_PlainTable4": "Plain Table 4",
  "XtraRichEditStringId.DefaultStyleName_PlainTable5": "Plain Table 5",
  "XtraRichEditStringId.DefaultStyleName_PlainText": "纯文本",
  "XtraRichEditStringId.DefaultStyleName_Quote": "Quote",
  "XtraRichEditStringId.DefaultStyleName_Revision": "Revision",
  "XtraRichEditStringId.DefaultStyleName_Salutation": "称呼",
  "XtraRichEditStringId.DefaultStyleName_Signature": "签名",
  "XtraRichEditStringId.DefaultStyleName_SmartHyperlink": "Smart Hyperlink",
  "XtraRichEditStringId.DefaultStyleName_SmartLink": "SmartLink",
  "XtraRichEditStringId.DefaultStyleName_Strong": "Strong",
  "XtraRichEditStringId.DefaultStyleName_Subtitle": "副标题",
  "XtraRichEditStringId.DefaultStyleName_SubtleEmphasis": "Subtle Emphasis",
  "XtraRichEditStringId.DefaultStyleName_SubtleReference": "Subtle Reference",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects1": "表 3D 效果 1",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects2": "表 3D 效果 2",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects3": "表 3D 效果 3",
  "XtraRichEditStringId.DefaultStyleName_TableClassic1": "Table Classic 1",
  "XtraRichEditStringId.DefaultStyleName_TableClassic2": "Table Classic 2",
  "XtraRichEditStringId.DefaultStyleName_TableClassic3": "Table Classic 3",
  "XtraRichEditStringId.DefaultStyleName_TableClassic4": "Table Classic 4",
  "XtraRichEditStringId.DefaultStyleName_TableColorful1": "Table Colorful 1",
  "XtraRichEditStringId.DefaultStyleName_TableColorful2": "Table Colorful 2",
  "XtraRichEditStringId.DefaultStyleName_TableColorful3": "Table Colorful 3",
  "XtraRichEditStringId.DefaultStyleName_TableColumns1": "Table Columns 1",
  "XtraRichEditStringId.DefaultStyleName_TableColumns2": "Table Columns 2",
  "XtraRichEditStringId.DefaultStyleName_TableColumns3": "Table Columns 3",
  "XtraRichEditStringId.DefaultStyleName_TableColumns4": "Table Columns 4",
  "XtraRichEditStringId.DefaultStyleName_TableColumns5": "Table Columns 5",
  "XtraRichEditStringId.DefaultStyleName_TableContemporary": "Table Contemporary",
  "XtraRichEditStringId.DefaultStyleName_TableElegant": "Table Elegant",
  "XtraRichEditStringId.DefaultStyleName_TableGrid": "Table Grid",
  "XtraRichEditStringId.DefaultStyleName_TableGrid1": "Table Grid 1",
  "XtraRichEditStringId.DefaultStyleName_TableGrid2": "Table Grid 2",
  "XtraRichEditStringId.DefaultStyleName_TableGrid3": "Table Grid 3",
  "XtraRichEditStringId.DefaultStyleName_TableGrid4": "Table Grid 4",
  "XtraRichEditStringId.DefaultStyleName_TableGrid5": "Table Grid 5",
  "XtraRichEditStringId.DefaultStyleName_TableGrid6": "Table Grid 6",
  "XtraRichEditStringId.DefaultStyleName_TableGrid7": "Table Grid 7",
  "XtraRichEditStringId.DefaultStyleName_TableGrid8": "Table Grid 8",
  "XtraRichEditStringId.DefaultStyleName_TableGridLight": "Table Grid Light",
  "XtraRichEditStringId.DefaultStyleName_TableList1": "Table List 1",
  "XtraRichEditStringId.DefaultStyleName_TableList2": "Table List 2",
  "XtraRichEditStringId.DefaultStyleName_TableList3": "Table List 3",
  "XtraRichEditStringId.DefaultStyleName_TableList4": "Table List 4",
  "XtraRichEditStringId.DefaultStyleName_TableList5": "Table List 5",
  "XtraRichEditStringId.DefaultStyleName_TableList6": "Table List 6",
  "XtraRichEditStringId.DefaultStyleName_TableList7": "Table List 7",
  "XtraRichEditStringId.DefaultStyleName_TableList8": "Table List 8",
  "XtraRichEditStringId.DefaultStyleName_TableNormal": "Table Normal",
  "XtraRichEditStringId.DefaultStyleName_tableofauthorities": "引文目录",
  "XtraRichEditStringId.DefaultStyleName_tableoffigures": "Table of Figures",
  "XtraRichEditStringId.DefaultStyleName_TableProfessional": "Table Professional",
  "XtraRichEditStringId.DefaultStyleName_TableSimple1": "Table Simple 1",
  "XtraRichEditStringId.DefaultStyleName_TableSimple2": "Table Simple 2",
  "XtraRichEditStringId.DefaultStyleName_TableSimple3": "Table Simple 3",
  "XtraRichEditStringId.DefaultStyleName_TableSubtle1": "Table Subtle 1",
  "XtraRichEditStringId.DefaultStyleName_TableSubtle2": "Table Subtle 2",
  "XtraRichEditStringId.DefaultStyleName_TableTheme": "Table Theme",
  "XtraRichEditStringId.DefaultStyleName_TableWeb1": "Table Web 1",
  "XtraRichEditStringId.DefaultStyleName_TableWeb2": "Table Web 2",
  "XtraRichEditStringId.DefaultStyleName_TableWeb3": "Table Web 3",
  "XtraRichEditStringId.DefaultStyleName_Title": "标题",
  "XtraRichEditStringId.DefaultStyleName_toaheading": "TOA Heading",
  "XtraRichEditStringId.DefaultStyleName_toc1": "TOC 1",
  "XtraRichEditStringId.DefaultStyleName_toc2": "TOC 2",
  "XtraRichEditStringId.DefaultStyleName_toc3": "TOC 3",
  "XtraRichEditStringId.DefaultStyleName_toc4": "TOC 4",
  "XtraRichEditStringId.DefaultStyleName_toc5": "TOC 5",
  "XtraRichEditStringId.DefaultStyleName_toc6": "TOC 6",
  "XtraRichEditStringId.DefaultStyleName_toc7": "TOC 7",
  "XtraRichEditStringId.DefaultStyleName_toc8": "TOC 8",
  "XtraRichEditStringId.DefaultStyleName_toc9": "TOC 9",
  "XtraRichEditStringId.DefaultStyleName_TOCHeading": "TOC Heading",
  "XtraRichEditStringId.DefaultStyleName_UnresolvedMention": "Unresolved Mention",
  "XtraRichEditStringId.DefaultStyleName_zBottomOfForm": "z-Bottom of Form",
  "XtraRichEditStringId.DefaultStyleName_zTopOfForm": "z-Top of Form",
  "XtraRichEditStringId.DialogCaption_InsertSymbol": "符号",
  "XtraRichEditStringId.DocumentPropertiesForm_Unknown": "(unknown)",
  "XtraRichEditStringId.FieldLastName": "Last Name",
  "XtraRichEditStringId.FieldMapAddress1": "地址 1",
  "XtraRichEditStringId.FieldMapAddress2": "地址 2",
  "XtraRichEditStringId.FieldMapAddress3": "地址 3",
  "XtraRichEditStringId.FieldMapBusinessFax": "业务传真",
  "XtraRichEditStringId.FieldMapBusinessPhone": "业务电话",
  "XtraRichEditStringId.FieldMapCity": "城市",
  "XtraRichEditStringId.FieldMapCompany": "公司",
  "XtraRichEditStringId.FieldMapCountry": "国家或地区",
  "XtraRichEditStringId.FieldMapDepartment": "Department",
  "XtraRichEditStringId.FieldMapEMailAddress": "电子邮件地址",
  "XtraRichEditStringId.FieldMapFirstName": "First Name",
  "XtraRichEditStringId.FieldMapHomeFax": "家庭传真",
  "XtraRichEditStringId.FieldMapHomePhone": "家里的电话",
  "XtraRichEditStringId.FieldMapJobTitle": "职位名称",
  "XtraRichEditStringId.FieldMapMiddleName": "中间名",
  "XtraRichEditStringId.FieldMapNickName": "昵称",
  "XtraRichEditStringId.FieldMapPartnerFirstName": "Spouse/Partner First Name",
  "XtraRichEditStringId.FieldMapPartnerLastName": "Spouse/Partner Last Name",
  "XtraRichEditStringId.FieldMapPartnerMiddleName": "Spouse/Partner Middle Name",
  "XtraRichEditStringId.FieldMapPartnerNickName": "Spouse/Partner Nickname",
  "XtraRichEditStringId.FieldMapPartnerTitle": "Spouse/Partner Courtesy Title",
  "XtraRichEditStringId.FieldMapPhoneticGuideFirstName": "Phonetic Guide for First Name",
  "XtraRichEditStringId.FieldMapPhoneticGuideLastName": "姓氏的拼音指南",
  "XtraRichEditStringId.FieldMapPostalCode": "邮政代码",
  "XtraRichEditStringId.FieldMapState": "状态",
  "XtraRichEditStringId.FieldMapSuffix": "后缀",
  "XtraRichEditStringId.FieldMapTitle": "Courtesy Title",
  "XtraRichEditStringId.FieldMapUniqueId": "唯一标识符",
  "XtraRichEditStringId.FieldMapWebPage": "Web 页",
  "XtraRichEditStringId.FileFilterDescription_AllFiles": "所有的文件",
  "XtraRichEditStringId.FileFilterDescription_AllSupportedFiles": "All Supported Files",
  "XtraRichEditStringId.FileFilterDescription_BitmapFiles": "位图",
  "XtraRichEditStringId.FileFilterDescription_DocFiles": "Microsoft Word Document",
  "XtraRichEditStringId.FileFilterDescription_DocmFiles": "Word Macro-Enabled Document",
  "XtraRichEditStringId.FileFilterDescription_DotFiles": "Word 97-2003 Template",
  "XtraRichEditStringId.FileFilterDescription_DotmFiles": "Word Macro-Enabled Template",
  "XtraRichEditStringId.FileFilterDescription_DotxFiles": "Word Template",
  "XtraRichEditStringId.FileFilterDescription_EmfFiles": "微软增强型图元文件",
  "XtraRichEditStringId.FileFilterDescription_ePubFiles": "电子出版物",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcFiles": "Word XML Document",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcMacroEnabledFiles": "Word Macro-Enabled XML Document",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcMacroEnabledTemplateFiles": "Word Macro-Enabled XML Template",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcTemplateFiles": "Word XML Template",
  "XtraRichEditStringId.FileFilterDescription_GifFiles": "图形立交图形",
  "XtraRichEditStringId.FileFilterDescription_HtmlFiles": "HyperText Markup Language Format",
  "XtraRichEditStringId.FileFilterDescription_JPEGFiles": "JPEG File Interchange Format",
  "XtraRichEditStringId.FileFilterDescription_MhtFiles": "Web 档案，单一文件",
  "XtraRichEditStringId.FileFilterDescription_OpenDocumentFiles": "OpenDocument 文本文档",
  "XtraRichEditStringId.FileFilterDescription_OpenXmlFiles": "Word 文档",
  "XtraRichEditStringId.FileFilterDescription_PDFFiles": "Portable Document Format",
  "XtraRichEditStringId.FileFilterDescription_PNGFiles": "可移植网络图形",
  "XtraRichEditStringId.FileFilterDescription_RtfFiles": "Rich Text Format",
  "XtraRichEditStringId.FileFilterDescription_TextFiles": "文本的文件",
  "XtraRichEditStringId.FileFilterDescription_TiffFiles": "Tagged Image Format",
  "XtraRichEditStringId.FileFilterDescription_WmfFiles": "Windows 图元文件",
  "XtraRichEditStringId.FileFilterDescription_WordMLFiles": "Word XML 文档",
  "XtraRichEditStringId.FileFilterDescription_XamlFiles": "Xaml 文档",
  "XtraRichEditStringId.FindAndReplaceForm_AnyOneCharacterInTheSet": "在一组中的任何一个字符",
  "XtraRichEditStringId.FindAndReplaceForm_AnyOneCharacterNotInTheSet": "不在集合中的任何一个字符",
  "XtraRichEditStringId.FindAndReplaceForm_AnySingleCharacter": "任何单个字符",
  "XtraRichEditStringId.FindAndReplaceForm_BeginningOfLine": "段首",
  "XtraRichEditStringId.FindAndReplaceForm_BeginningOfWord": "字的开头",
  "XtraRichEditStringId.FindAndReplaceForm_EndOfLine": "段结尾",
  "XtraRichEditStringId.FindAndReplaceForm_EndOfWord": "词的结尾",
  "XtraRichEditStringId.FindAndReplaceForm_EscapeSpecialCharacter": "转义特殊字符",
  "XtraRichEditStringId.FindAndReplaceForm_Integer": "整数",
  "XtraRichEditStringId.FindAndReplaceForm_OneOrMore": "一个或多个",
  "XtraRichEditStringId.FindAndReplaceForm_Or": "或",
  "XtraRichEditStringId.FindAndReplaceForm_SpaceOrTab": "空格或制表符",
  "XtraRichEditStringId.FindAndReplaceForm_TagExpression": "标记表达式",
  "XtraRichEditStringId.FindAndReplaceForm_TaggedExpression": "标记表达式 {0}",
  "XtraRichEditStringId.FindAndReplaceForm_WordCharacter": "单词字符",
  "XtraRichEditStringId.FindAndReplaceForm_ZeroOrMore": "零个或更多",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentCenter": "Centered",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentLeft": "左",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentRight": "右",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeCharacter": "字符",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeColumn": "列",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeInsideMargin": "内部边距",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeLeftMargin": "Left Margin",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeOutsideMargin": "Outside Margin",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypePage": "页",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeRightMargin": "右边距",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentBottom": "底部",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentCenter": "中心",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentInside": "里面",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentOutside": "外面",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentTop": "顶部",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeBottomMargin": "底部边距",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeInsideMargin": "内部边距",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeLine": "线",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeOutsideMargin": "Outside Margin",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypePage": "页",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeParagraph": "段",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeTopMargin": "上边距",
  "XtraRichEditStringId.FontStyle_Bold": "加粗",
  "XtraRichEditStringId.FontStyle_BoldItalic": "加粗倾斜",
  "XtraRichEditStringId.FontStyle_Italic": "斜体",
  "XtraRichEditStringId.FontStyle_Regular": "Regular",
  "XtraRichEditStringId.FontStyle_Strikeout": "删除线",
  "XtraRichEditStringId.FontStyle_Underline": "下划线",
  "XtraRichEditStringId.HyperlinkForm_EditHyperlinkTitle": "编辑超链接",
  "XtraRichEditStringId.HyperlinkForm_InsertHyperlinkTitle": "插入超链接",
  "XtraRichEditStringId.HyperlinkForm_SelectedBookmarkNone": "< 无 >",
  "XtraRichEditStringId.HyperlinkForm_SelectionInDocument": "在文档中的选择",
  "XtraRichEditStringId.InsertTableForm_InvalidColumnCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.InsertTableForm_InvalidRowCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.KeyName_Alt": "Alt",
  "XtraRichEditStringId.KeyName_Control": "Ctrl 键",
  "XtraRichEditStringId.KeyName_Shift": "Shift 键",
  "XtraRichEditStringId.LinkedCharacterStyleFormatString": "{0} Char",
  "XtraRichEditStringId.LocalizedStyleName_Hyperlink": "超链接",
  "XtraRichEditStringId.LocalizedStyleName_Normal": "正常",
  "XtraRichEditStringId.MenuCmd_Accept": "Accept",
  "XtraRichEditStringId.MenuCmd_AcceptAllChanges": "Accept All Changes",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesAndStopTracking": "Accept All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesAndStopTrackingDescription": "Accept All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesDescription": "Accept All Changes",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesShown": "Accept All Changes Shown",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesShownDescription": "Accept All Changes Shown",
  "XtraRichEditStringId.MenuCmd_AcceptAndMoveToNextRevision": "Accept and Move to Next",
  "XtraRichEditStringId.MenuCmd_AcceptAndMoveToNextRevisionDescription": "Keep this change and move one to the next one.",
  "XtraRichEditStringId.MenuCmd_AcceptCurrentRevision": "Accept This Change",
  "XtraRichEditStringId.MenuCmd_AcceptCurrentRevisionDescription": "Accept This Change",
  "XtraRichEditStringId.MenuCmd_AcceptDescription": "Click for additional options, such as accepting all the changes at once.",
  "XtraRichEditStringId.MenuCmd_AddParagraphsToTableOfContents": "Add Text",
  "XtraRichEditStringId.MenuCmd_AddParagraphsToTableOfContentsDescription": "Add the current paragraph as an entry in the Table of Contents.",
  "XtraRichEditStringId.MenuCmd_AddSpacingAfterParagraph": "Add Space &After Paragraph",
  "XtraRichEditStringId.MenuCmd_AddSpacingAfterParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_AddSpacingBeforeParagraph": "Add Space &Before Paragraph",
  "XtraRichEditStringId.MenuCmd_AddSpacingBeforeParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_AddWordToDictionary": "添加到词典",
  "XtraRichEditStringId.MenuCmd_AddWordToDictionaryDescription": "添加到词典",
  "XtraRichEditStringId.MenuCmd_AllAuthors": "All Authors",
  "XtraRichEditStringId.MenuCmd_BackSpaceKey": "BackSpaceKey",
  "XtraRichEditStringId.MenuCmd_BackSpaceKeyDescription": "BackSpaceKey",
  "XtraRichEditStringId.MenuCmd_Bookmark": "Bookmark...",
  "XtraRichEditStringId.MenuCmd_BookmarkDescription": "Bookmark...",
  "XtraRichEditStringId.MenuCmd_BrowserPrint": "Browser Print",
  "XtraRichEditStringId.MenuCmd_BrowserPrintDescription": "Print document with browser print capabilities.",
  "XtraRichEditStringId.MenuCmd_BrowserPrintPreview": "Browser Print Preview",
  "XtraRichEditStringId.MenuCmd_BrowserPrintPreviewDescription": "Preview pages in browser before printing.",
  "XtraRichEditStringId.MenuCmd_CapitalizeEachWordTextCase": "Capitalize Each Word",
  "XtraRichEditStringId.MenuCmd_CapitalizeEachWordTextCaseDescription": "Capitalize each word.",
  "XtraRichEditStringId.MenuCmd_ChangeCharacterStyle": "ChangeCharacterStyle",
  "XtraRichEditStringId.MenuCmd_ChangeCharacterStyleDescription": "ChangeCharacterStyle",
  "XtraRichEditStringId.MenuCmd_ChangeColumnCount": "列",
  "XtraRichEditStringId.MenuCmd_ChangeColumnCountDescription": "列",
  "XtraRichEditStringId.MenuCmd_ChangeColumnSize": "ChangeColumnSize",
  "XtraRichEditStringId.MenuCmd_ChangeColumnSizeDescription": "ChangeColumnSizeDescription",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemColor": "笔的颜色",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemColorDescription": "更改笔的颜色。",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineStyle": "线条样式",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineStyleDescription": "更改用于绘制边框线的样式。",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineThickness": "线条粗细",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineThicknessDescription": "更改用于绘制边框线的宽度。",
  "XtraRichEditStringId.MenuCmd_ChangeDisplayForReviewMode": "Display for Review",
  "XtraRichEditStringId.MenuCmd_ChangeDisplayForReviewModeDescription": "Choose how you'd like to see changes in this document.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectAlignment": "位置",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectAlignmentDescription": "Position the selected object on the page. Text is automatically set to wrap around the object.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectFillColor": "形状填充",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectFillColorDescription": "用一种纯色填充所选的形状。",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineColor": "形状轮廓",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineColorDescription": "指定为所选形状的轮廓颜色。",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineWidth": "Shape Outline Weight",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineWidthDescription": "指定为所选形状的轮廓宽度。",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectTextWrapType": "文本换行",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectTextWrapTypeDescription": "Change the way text wraps around the selected object. To configure the object so that it moves along with text the text around it, select \"In Line With Text\".",
  "XtraRichEditStringId.MenuCmd_ChangeFontColor": "字体颜色",
  "XtraRichEditStringId.MenuCmd_ChangeFontColorDescription": "更改字体颜色。",
  "XtraRichEditStringId.MenuCmd_ChangeFontName": "字体",
  "XtraRichEditStringId.MenuCmd_ChangeFontNameDescription": "更改字体。",
  "XtraRichEditStringId.MenuCmd_ChangeFontSize": "字体大小",
  "XtraRichEditStringId.MenuCmd_ChangeFontSizeDescription": "更改字体大小。",
  "XtraRichEditStringId.MenuCmd_ChangeHyphenationOptions": "Hyphenation",
  "XtraRichEditStringId.MenuCmd_ChangeHyphenationOptionsDescription": "Turn on hyphenation to create more uniform spacing and save space in your document.",
  "XtraRichEditStringId.MenuCmd_ChangeIndent": "ChangeIndent",
  "XtraRichEditStringId.MenuCmd_ChangeIndentDescription": "ChangeIndentDescription",
  "XtraRichEditStringId.MenuCmd_ChangeLanguage": "Language",
  "XtraRichEditStringId.MenuCmd_ChangeLanguageDescription": "Set the language used to check the spelling and grammar of the selected text.",
  "XtraRichEditStringId.MenuCmd_ChangeMistakenWord": "(无拼写建议)",
  "XtraRichEditStringId.MenuCmd_ChangeMistakenWordDescription": "(无拼写建议)",
  "XtraRichEditStringId.MenuCmd_ChangeNoProof": "NoProof",
  "XtraRichEditStringId.MenuCmd_ChangeNoProofDescription": "Change NoProof",
  "XtraRichEditStringId.MenuCmd_ChangePageColor": "页面颜色",
  "XtraRichEditStringId.MenuCmd_ChangePageColorDescription": "选择页的背景的颜色。",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphBackColor": "底纹",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphBackColorDescription": "更改所选段落后面的背景。",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphFirstLineIndent": "IncrementParagraphFirstLineIndent",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphFirstLineIndentDescription": "IncrementParagraphFirstLineIndentDescription",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLeftIndent": "ChangeParagraphLeftIndent",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLeftIndentDescription": "ChangeParagraphLeftIndentDescription",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLineSpacing": "行间距",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLineSpacingDescription": "Change the spacing between lines of text.\n\nYou can also customize the amount of space added before and after paragraphs.",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphStyle": "ChangeParagraphStyle",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphStyleDescription": "ChangeParagraphStyle",
  "XtraRichEditStringId.MenuCmd_ChangeSectionLineNumbering": "行号",
  "XtraRichEditStringId.MenuCmd_ChangeSectionLineNumberingDescription": "距中旁边的每个行的文档添加行号。",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageMargins": "边距",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageMarginsDescription": "选择整个文档或当前节的页边距大小。",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageOrientation": "方向",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageOrientationDescription": "页面纵向和横向布局之间进行切换。",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPagePaperKind": "大小",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPagePaperKindDescription": "选择纸张大小，当前节。",
  "XtraRichEditStringId.MenuCmd_ChangeStyle": "快速样式",
  "XtraRichEditStringId.MenuCmd_ChangeStyleDescription": "标题、 报价和其他使用此库的样式的文本设置格式。",
  "XtraRichEditStringId.MenuCmd_ChangeTableBorders": "Borders",
  "XtraRichEditStringId.MenuCmd_ChangeTableBordersDescription": "自定义所选单元格的边框。",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellAlignmentPlaceholder": "对齐方式",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellAlignmentPlaceholderDescription": "自定义选定的单元格的对齐方式。",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsContentAlignment": "Cell Alignment",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsContentAlignmentDescription": "Cell Alignment",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellShading": "底纹",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellShadingDescription": "后面所选单元格的背景颜色。",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsTextDirection": "Text Direction",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsTextDirectionDescription": "Change the text direction within the selected cells.\n\nClick the button multiple times to cycle through the available directions.",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsTextDirectionHorizontalContextMenuItem": "水平",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsTextDirectionPlaceholderDescription": "Change the text direction within the selected cells.",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsTextDirectionRotate270ContextMenuItem": "Upward",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsTextDirectionRotate90ContextMenuItem": "Downward",
  "XtraRichEditStringId.MenuCmd_ChangeTextCase": "更改大小写",
  "XtraRichEditStringId.MenuCmd_ChangeTextCaseDescription": "将所有选定的文本更改为大写、 小写或其他共同资本。",
  "XtraRichEditStringId.MenuCmd_CheckSpelling": "拼写检查",
  "XtraRichEditStringId.MenuCmd_CheckSpellingDescription": "Check the spelling of text in the document.",
  "XtraRichEditStringId.MenuCmd_ClearFormatting": "Clear Formatting",
  "XtraRichEditStringId.MenuCmd_ClearFormattingDescription": "清除所有格式从选择、 离开只有纯文本。",
  "XtraRichEditStringId.MenuCmd_ClearUndo": "ClearUndo",
  "XtraRichEditStringId.MenuCmd_ClearUndoDescription": "Clear Undo Buffer",
  "XtraRichEditStringId.MenuCmd_ClosePageHeaderFooter": "关闭页眉和页脚",
  "XtraRichEditStringId.MenuCmd_ClosePageHeaderFooterDescription": "关闭页眉和页脚工具。您还可以双击要返回到编辑它的文档区域",
  "XtraRichEditStringId.MenuCmd_CollapseOrExpandFormulaBar": "Collapse or expand Formula Bar",
  "XtraRichEditStringId.MenuCmd_CollapseOrExpandFormulaBarDescription": "Collapse or expand Formula Bar (Ctrl+Shift+U)",
  "XtraRichEditStringId.MenuCmd_Comment": "View Comments",
  "XtraRichEditStringId.MenuCmd_CommentDescription": "Choose whether or not to highlight comments in the document.",
  "XtraRichEditStringId.MenuCmd_ConvertNotesDescription": "Convert Note",
  "XtraRichEditStringId.MenuCmd_ConvertToEndnote": "Convert to Endnote",
  "XtraRichEditStringId.MenuCmd_ConvertToFootnote": "Convert to Footnote",
  "XtraRichEditStringId.MenuCmd_CopySelection": "复制",
  "XtraRichEditStringId.MenuCmd_CopySelectionDescription": "Copy the selection and put it on the Clipboard.",
  "XtraRichEditStringId.MenuCmd_CreateBookmark": "创建书签",
  "XtraRichEditStringId.MenuCmd_CreateBookmarkDescription": "创建书签",
  "XtraRichEditStringId.MenuCmd_CreateField": "创建字段",
  "XtraRichEditStringId.MenuCmd_CreateFieldDescription": "创建字段",
  "XtraRichEditStringId.MenuCmd_CreateHyperlink": "CreateHyperlink",
  "XtraRichEditStringId.MenuCmd_CreateHyperlinkDescription": "CreateHyperlinkDescription",
  "XtraRichEditStringId.MenuCmd_CutSelection": "剪切",
  "XtraRichEditStringId.MenuCmd_CutSelectionDescription": "剪切所选内容从文档并把它放在剪贴板上。",
  "XtraRichEditStringId.MenuCmd_DecreaseFontSize": "Shrink Font",
  "XtraRichEditStringId.MenuCmd_DecreaseFontSizeDescription": "减小字体大小。",
  "XtraRichEditStringId.MenuCmd_DecrementFontSize": "DecrementFontSize",
  "XtraRichEditStringId.MenuCmd_DecrementFontSizeDescription": "DecrementFontSize",
  "XtraRichEditStringId.MenuCmd_DecrementIndent": "Decrease Indent",
  "XtraRichEditStringId.MenuCmd_DecrementIndentDescription": "减小该段落的缩进级别。",
  "XtraRichEditStringId.MenuCmd_DecrementNumerationFromParagraph": "DecrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DecrementNumerationFromParagraphDescription": "DecrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphLeftIndent": "DecrementParagraphLeftIndent",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphLeftIndentDescription": "DecrementParagraphLeftIndentDescription",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphOutlineLevel": "递减的大纲级别",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphOutlineLevelDescription": "递减的大纲级别",
  "XtraRichEditStringId.MenuCmd_Delete": "删除",
  "XtraRichEditStringId.MenuCmd_DeleteAllComments": "删除所有批注",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsDescription": "删除所有批注。",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsShown": "删除所有显示的批注",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsShownDescription": "删除所有显示的批注。",
  "XtraRichEditStringId.MenuCmd_DeleteBack": "DeleteBack",
  "XtraRichEditStringId.MenuCmd_DeleteBackCore": "DeleteBackCore",
  "XtraRichEditStringId.MenuCmd_DeleteBackCoreDescription": "DeleteBackCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteBackDescription": "DeleteBack",
  "XtraRichEditStringId.MenuCmd_DeleteBookmark": "删除书签",
  "XtraRichEditStringId.MenuCmd_DeleteBookmarkDescription": "删除书签",
  "XtraRichEditStringId.MenuCmd_DeleteComment": "删除",
  "XtraRichEditStringId.MenuCmd_DeleteCommentDescription": "Delete the selected comment.",
  "XtraRichEditStringId.MenuCmd_DeleteCore": "DeleteCore",
  "XtraRichEditStringId.MenuCmd_DeleteCoreDescription": "DeleteCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteDescription": "删除",
  "XtraRichEditStringId.MenuCmd_DeleteNumerationFromParagraph": "DeleteNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DeleteNumerationFromParagraphDescription": "DeleteNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DeleteOneComment": "删除评论",
  "XtraRichEditStringId.MenuCmd_DeleteOneCommentDescription": "Delete the selected comment.",
  "XtraRichEditStringId.MenuCmd_DeleteRepeatedWord": "删除重复的单词",
  "XtraRichEditStringId.MenuCmd_DeleteRepeatedWordDescription": "删除重复的单词",
  "XtraRichEditStringId.MenuCmd_DeleteTable": "删除表",
  "XtraRichEditStringId.MenuCmd_DeleteTableCells": "删除单元格",
  "XtraRichEditStringId.MenuCmd_DeleteTableCellsDescription": "删除行、 列或单元格",
  "XtraRichEditStringId.MenuCmd_DeleteTableCellsMenuItem": "删除单元格...",
  "XtraRichEditStringId.MenuCmd_DeleteTableColumns": "删除列",
  "XtraRichEditStringId.MenuCmd_DeleteTableColumnsDescription": "删除列",
  "XtraRichEditStringId.MenuCmd_DeleteTableDescription": "删除整个表",
  "XtraRichEditStringId.MenuCmd_DeleteTableElements": "删除",
  "XtraRichEditStringId.MenuCmd_DeleteTableElementsDescription": "删除行、 列、 单元格或整个表格",
  "XtraRichEditStringId.MenuCmd_DeleteTableRows": "删除行",
  "XtraRichEditStringId.MenuCmd_DeleteTableRowsDescription": "删除行",
  "XtraRichEditStringId.MenuCmd_DeleteTableStyle": "删除表样式",
  "XtraRichEditStringId.MenuCmd_DeleteWatermark": "Remove Watermark",
  "XtraRichEditStringId.MenuCmd_DeleteWatermarkDescription": "Remove all watermarks from the document.",
  "XtraRichEditStringId.MenuCmd_DeleteWord": "DeleteWord",
  "XtraRichEditStringId.MenuCmd_DeleteWordBack": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackCore": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackCoreDescription": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackDescription": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordCore": "DeleteWordCore",
  "XtraRichEditStringId.MenuCmd_DeleteWordCoreDescription": "DeleteWordCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteWordDescription": "DeleteWord",
  "XtraRichEditStringId.MenuCmd_DeselectAll": "Deselect All",
  "XtraRichEditStringId.MenuCmd_DeselectAllDescription": "重置文档选择。",
  "XtraRichEditStringId.MenuCmd_DraftView": "草稿视图",
  "XtraRichEditStringId.MenuCmd_DraftViewDescription": "草稿视图",
  "XtraRichEditStringId.MenuCmd_EditHyperlink": "编辑超链接...",
  "XtraRichEditStringId.MenuCmd_EditHyperlinkDescription": "编辑超链接...",
  "XtraRichEditStringId.MenuCmd_EditPageFooter": "页脚",
  "XtraRichEditStringId.MenuCmd_EditPageFooterDescription": "Edit the footer of the document.\n\nThe content in the footer will appear at the bottom of each printed page.",
  "XtraRichEditStringId.MenuCmd_EditPageHeader": "标头",
  "XtraRichEditStringId.MenuCmd_EditPageHeaderDescription": "Edit the header of the document.\n\nThe content in the header will appear at the top of each printed page.",
  "XtraRichEditStringId.MenuCmd_EditTOC": "Edit Table of Contents...",
  "XtraRichEditStringId.MenuCmd_EncryptDocument": "Encrypt with Password",
  "XtraRichEditStringId.MenuCmd_EncryptDocumentDescription": "Password-protect this document.",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleHorizontally": "EnsureCaretVisibleHorizontally",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleHorizontallyDescription": "EnsureCaretVisibleHorizontally",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleVertically": "EnsureCaretVisibleVertically",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleVerticallyDescription": "EnsureCaretVisibleVertically",
  "XtraRichEditStringId.MenuCmd_EnterKey": "EnterKey",
  "XtraRichEditStringId.MenuCmd_EnterKeyDescription": "EnterKeyDescription",
  "XtraRichEditStringId.MenuCmd_Find": "查找",
  "XtraRichEditStringId.MenuCmd_FindAndSelectBackward": "FindAndSelectBackward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectBackwardDescription": "FindAndSelectBackward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectForward": "FindAndSelectForward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectForwardDescription": "FindAndSelectForward",
  "XtraRichEditStringId.MenuCmd_FindDescription": "在文档中查找文本。",
  "XtraRichEditStringId.MenuCmd_FindNext": "查找下一个",
  "XtraRichEditStringId.MenuCmd_FindNextDescription": "Repeats the last search forward.",
  "XtraRichEditStringId.MenuCmd_FindPrev": "查找上一个",
  "XtraRichEditStringId.MenuCmd_FindPrevDescription": "重复上次搜索落后。",
  "XtraRichEditStringId.MenuCmd_FirstDataRecord": "第一条记录",
  "XtraRichEditStringId.MenuCmd_FirstDataRecordDescription": "第一条记录",
  "XtraRichEditStringId.MenuCmd_FitHeight": "Fit Height",
  "XtraRichEditStringId.MenuCmd_FitHeightDescription": "Adjusts the document zoom factor to fit the entire page height to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FitToPage": "Fit To Page",
  "XtraRichEditStringId.MenuCmd_FitToPageDescription": "Adjusts the document zoom factor to fit the entire page to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FitWidth": "Fit Width",
  "XtraRichEditStringId.MenuCmd_FitWidthDescription": "Adjusts the document zoom factor to fit the entire page width to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForward": "Bring Forward",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardDescription": "Bring the selected object forward so that it is hidden by fewer object that are in front of it.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardPlaceholder": "Bring to Front",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardPlaceholderDescription": "Bring the selected object forward so that it is hidden by fewer object that are in front of it.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringInFrontOfText": "Bring in Front of Text",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringInFrontOfTextDescription": " ",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringToFront": "Bring to Front",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringToFrontDescription": "Bring the selected object in front of all other objects so that no part of it is hidden behind another object.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackward": "Send Backward",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardDescription": "发送所选的对象向后的所以，它隐藏的是在它前面的对象",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardPlaceholder": "Send to Back",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardPlaceholderDescription": "发送所选的对象向后的所以，它隐藏的是在它前面的对象",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBehindText": "Send Behind Text",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBehindTextDescription": " ",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendToBack": "Send to Back",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendToBackDescription": "发送所选的对象的所有其他对象背后。",
  "XtraRichEditStringId.MenuCmd_FontSubscript": "下标",
  "XtraRichEditStringId.MenuCmd_FontSubscriptDescription": "Create small letters below the text baseline.",
  "XtraRichEditStringId.MenuCmd_FontSuperscript": "上标",
  "XtraRichEditStringId.MenuCmd_FontSuperscriptDescription": "Create small letters above the line of text.",
  "XtraRichEditStringId.MenuCmd_GoToNextHeaderFooter": "显示下一项",
  "XtraRichEditStringId.MenuCmd_GoToNextHeaderFooterDescription": "Navigate to the next section's header or footer.",
  "XtraRichEditStringId.MenuCmd_GoToPage": "转到页",
  "XtraRichEditStringId.MenuCmd_GoToPageDescription": "转到页",
  "XtraRichEditStringId.MenuCmd_GoToPageFooter": "转到页脚",
  "XtraRichEditStringId.MenuCmd_GoToPageFooterDescription": "激活页脚在此页上的，以便您可以编辑它。",
  "XtraRichEditStringId.MenuCmd_GoToPageHeader": "转到标题",
  "XtraRichEditStringId.MenuCmd_GoToPageHeaderDescription": "激活此页上的标题，以便您可以编辑它。",
  "XtraRichEditStringId.MenuCmd_GoToPreviousHeaderFooter": "显示前一项",
  "XtraRichEditStringId.MenuCmd_GoToPreviousHeaderFooterDescription": "Navigate to the previous section's header or footer.",
  "XtraRichEditStringId.MenuCmd_HighlightText": "文本突出显示颜色",
  "XtraRichEditStringId.MenuCmd_HighlightTextDescription": "使文本看起来像它被用荧光笔标记。",
  "XtraRichEditStringId.MenuCmd_Hyperlink": "Hyperlink...",
  "XtraRichEditStringId.MenuCmd_HyperlinkDescription": "Hyperlink...",
  "XtraRichEditStringId.MenuCmd_IgnoreAllMistakenWords": "Ignore All",
  "XtraRichEditStringId.MenuCmd_IgnoreAllMistakenWordsDescription": "Ignore All",
  "XtraRichEditStringId.MenuCmd_IgnoreMistakenWord": "忽略",
  "XtraRichEditStringId.MenuCmd_IgnoreMistakenWordDescription": "忽略",
  "XtraRichEditStringId.MenuCmd_IncreaseFontSize": "Grow Font",
  "XtraRichEditStringId.MenuCmd_IncreaseFontSizeDescription": "增加字体大小。",
  "XtraRichEditStringId.MenuCmd_IncrementFontSize": "IncrementFontSize",
  "XtraRichEditStringId.MenuCmd_IncrementFontSizeDescription": "IncrementFontSize",
  "XtraRichEditStringId.MenuCmd_IncrementIndent": "Increase Indent",
  "XtraRichEditStringId.MenuCmd_IncrementIndentDescription": "增加段落的缩进级别。",
  "XtraRichEditStringId.MenuCmd_IncrementNumerationFromParagraph": "IncrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_IncrementNumerationFromParagraphDescription": "IncrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphLeftIndent": "IncrementParagraphLeftIndent",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphLeftIndentDescription": "IncrementParagraphLeftIndentDescription",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphOutlineLevel": "增量大纲级别",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphOutlineLevelDescription": "增量大纲级别",
  "XtraRichEditStringId.MenuCmd_InsertBreak": "打破",
  "XtraRichEditStringId.MenuCmd_InsertBreakDescription": "向文档中添加页、 节或列符。",
  "XtraRichEditStringId.MenuCmd_InsertBulletList": "Bullets",
  "XtraRichEditStringId.MenuCmd_InsertBulletListDescription": "开始项目符号列表。",
  "XtraRichEditStringId.MenuCmd_InsertCaptionPlaceholder": "Insert Caption",
  "XtraRichEditStringId.MenuCmd_InsertCaptionPlaceholderDescription": "Add a caption to a picture or other image.\n\nA caption is a line of text that appears below an object to describe it.",
  "XtraRichEditStringId.MenuCmd_InsertClosingDoubleQuotationMark": "InsertClosingDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingDoubleQuotationMarkDescription": "InsertClosingDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingSingleQuotationMark": "InsertClosingSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingSingleQuotationMarkDescription": "InsertClosingSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertColumnBreak": "列",
  "XtraRichEditStringId.MenuCmd_InsertColumnBreakDescription": "表示，分栏符后面的文本将在下一列开始。",
  "XtraRichEditStringId.MenuCmd_InsertCopyrightSymbol": "InsertCopyrightSymbol",
  "XtraRichEditStringId.MenuCmd_InsertCopyrightSymbolDescription": "插入版权符号",
  "XtraRichEditStringId.MenuCmd_InsertEllipsis": "InsertEllipsis",
  "XtraRichEditStringId.MenuCmd_InsertEllipsisDescription": "InsertEllipsis",
  "XtraRichEditStringId.MenuCmd_InsertEmDash": "InsertEmDash",
  "XtraRichEditStringId.MenuCmd_InsertEmDashDescription": "InsertEmDash",
  "XtraRichEditStringId.MenuCmd_InsertEnDash": "InsertEnDash",
  "XtraRichEditStringId.MenuCmd_InsertEnDashDescription": "InsertEnDash",
  "XtraRichEditStringId.MenuCmd_InsertEndnote": "Insert Endnote",
  "XtraRichEditStringId.MenuCmd_InsertEndnoteDescription": "Add a endnote",
  "XtraRichEditStringId.MenuCmd_InsertEquationsCaption": "方程标题",
  "XtraRichEditStringId.MenuCmd_InsertEquationsCaptionDescription": "添加方程题注。",
  "XtraRichEditStringId.MenuCmd_InsertEuroSymbol": "InsertEuroSymbol",
  "XtraRichEditStringId.MenuCmd_InsertEuroSymbolDescription": "InsertEuroSymbol",
  "XtraRichEditStringId.MenuCmd_InsertField": "InsertField",
  "XtraRichEditStringId.MenuCmd_InsertFieldDescription": "InsertField",
  "XtraRichEditStringId.MenuCmd_InsertFiguresCaption": "数字标题",
  "XtraRichEditStringId.MenuCmd_InsertFiguresCaptionDescription": "添加一个图表题注。",
  "XtraRichEditStringId.MenuCmd_InsertFloatingObjectPicture": "图片",
  "XtraRichEditStringId.MenuCmd_InsertFloatingObjectPictureDescription": "插入来自文件的图片。",
  "XtraRichEditStringId.MenuCmd_InsertFootnote": "Insert Footnote",
  "XtraRichEditStringId.MenuCmd_InsertFootnoteDescription": "Add a footnote",
  "XtraRichEditStringId.MenuCmd_InsertHyperlink": "InsertHyperlink",
  "XtraRichEditStringId.MenuCmd_InsertHyperlinkDescription": "InsertHyperlinkDescription",
  "XtraRichEditStringId.MenuCmd_InsertHyphen": "InsertHyphen",
  "XtraRichEditStringId.MenuCmd_InsertHyphenDescription": "Insert an optional hyphen.",
  "XtraRichEditStringId.MenuCmd_InsertLineBreak": "InsertLineBreak",
  "XtraRichEditStringId.MenuCmd_InsertLineBreakDescription": "InsertLineBreak",
  "XtraRichEditStringId.MenuCmd_InsertMergeField": "插入合并域",
  "XtraRichEditStringId.MenuCmd_InsertMergeFieldDescription": "Insert Merge Field.",
  "XtraRichEditStringId.MenuCmd_InsertMultilevelList": "多级列表",
  "XtraRichEditStringId.MenuCmd_InsertMultilevelListDescription": "启动多级列表。",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingHyphen": "InsertNonBreakingHyphen",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingHyphenDescription": "Insert a nonbreaking hyphen.",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingSpace": "InsertNonBreakingSpace",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingSpaceDescription": "InsertNonBreakingSpace",
  "XtraRichEditStringId.MenuCmd_InsertObject": "Object",
  "XtraRichEditStringId.MenuCmd_InsertObjectDescription": "Insert an embedded object, such as another Word document or an Excel chart.",
  "XtraRichEditStringId.MenuCmd_InsertOpeningDoubleQuotationMark": "InsertOpeningDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningDoubleQuotationMarkDescription": "InsertOpeningDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningSingleQuotationMark": "InsertOpeningSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningSingleQuotationMarkDescription": "InsertOpeningSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak": "页",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak2": "分页符",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak2Description": "Start the next page at the current position.",
  "XtraRichEditStringId.MenuCmd_InsertPageBreakDescription": "启动下一个页面的当前位置。",
  "XtraRichEditStringId.MenuCmd_InsertPageCountField": "页计数",
  "XtraRichEditStringId.MenuCmd_InsertPageCountFieldDescription": "插入到文档的总页数。",
  "XtraRichEditStringId.MenuCmd_InsertPageNumberField": "页号",
  "XtraRichEditStringId.MenuCmd_InsertPageNumberFieldDescription": "Insert page numbers into the document.",
  "XtraRichEditStringId.MenuCmd_InsertParagraph": "InsertParagraph",
  "XtraRichEditStringId.MenuCmd_InsertParagraphDescription": "InsertParagraph",
  "XtraRichEditStringId.MenuCmd_InsertPicture": "Inline Picture",
  "XtraRichEditStringId.MenuCmd_InsertPictureDescription": "Insert inline picture from a file.",
  "XtraRichEditStringId.MenuCmd_InsertRegisteredTrademarkSymbol": "InsertRegisteredTrademark Symbol",
  "XtraRichEditStringId.MenuCmd_InsertRegisteredTrademarkSymbolDescription": "插入注册商标符号",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakContinuous": "节 (连续)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakContinuousDescription": "插入一个分节符并在同一页面上开始新节。",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakEvenPage": "节 (偶数页)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakEvenPageDescription": "插入一个分节符并在下一个偶数页开始新节。",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakNextPage": "节 （下一页）",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakNextPageDescription": "插入一个分节符并在下一页上开始新节。",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakOddPage": "节 (奇数页)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakOddPageDescription": "插入一个分节符并在下一个奇数页上开始新节。",
  "XtraRichEditStringId.MenuCmd_InsertSimpleList": "编号",
  "XtraRichEditStringId.MenuCmd_InsertSimpleListDescription": "开始创建编号的列表。",
  "XtraRichEditStringId.MenuCmd_InsertSymbol": "符号",
  "XtraRichEditStringId.MenuCmd_InsertSymbolDescription": "插入的符号，是不是在你的键盘，如版权符号、 商标符号、 段落标记和 Unicode 字符。",
  "XtraRichEditStringId.MenuCmd_InsertTab": "InsertTab",
  "XtraRichEditStringId.MenuCmd_InsertTabDescription": "InsertTab",
  "XtraRichEditStringId.MenuCmd_InsertTable": "表",
  "XtraRichEditStringId.MenuCmd_InsertTableCells": "Insert Cells",
  "XtraRichEditStringId.MenuCmd_InsertTableCellsDescription": "Insert Cells",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheLeft": "Insert Left",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheLeftDescription": "Add a new column directly to the left of the selected column.",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheRight": "Insert Right",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheRightDescription": "Add a new column directly to the right of the selected column.",
  "XtraRichEditStringId.MenuCmd_InsertTableDescription": "文档中插入一个表。",
  "XtraRichEditStringId.MenuCmd_InsertTableElement": "插入",
  "XtraRichEditStringId.MenuCmd_InsertTableOfContents": "表的内容",
  "XtraRichEditStringId.MenuCmd_InsertTableOfContentsDescription": "添加到文档的目录。一旦你添加了表的内容，请单击添加文本按钮来添加条目表。",
  "XtraRichEditStringId.MenuCmd_InsertTableOfEquations": "方程的表",
  "XtraRichEditStringId.MenuCmd_InsertTableOfEquationsDescription": "插入到文档中的方程表。一方程表文档中包括的所有的方程列表。",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFigures": "表中的数字",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresDescription": "插入到文档中的数字表。数字表在文档中包括的所有的数字列表。",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresPlaceholder": "插入图表目录",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresPlaceholderDescription": "插入到文档中的数字表。数字表包含文档中的所有图、 表或方程列表。",
  "XtraRichEditStringId.MenuCmd_InsertTableOfTables": "表目录",
  "XtraRichEditStringId.MenuCmd_InsertTableOfTablesDescription": "插入到文档中的表。表包含文档中的所有表的列表。",
  "XtraRichEditStringId.MenuCmd_InsertTableRowAbove": "Insert Above",
  "XtraRichEditStringId.MenuCmd_InsertTableRowAboveDescription": "在所选行的上面添加一个新行。",
  "XtraRichEditStringId.MenuCmd_InsertTableRowBelow": "Insert Below",
  "XtraRichEditStringId.MenuCmd_InsertTableRowBelowDescription": "Add a new row directly below the selected row.",
  "XtraRichEditStringId.MenuCmd_InsertTablesCaption": "表格标题",
  "XtraRichEditStringId.MenuCmd_InsertTablesCaptionDescription": "添加表标题。",
  "XtraRichEditStringId.MenuCmd_InsertTabToParagraph": "InsertTabToParagraph",
  "XtraRichEditStringId.MenuCmd_InsertTabToParagraphDescription": "InsertTabToParagraphDescription",
  "XtraRichEditStringId.MenuCmd_InsertText": "InsertText",
  "XtraRichEditStringId.MenuCmd_InsertTextBox": "Text Box",
  "XtraRichEditStringId.MenuCmd_InsertTextBoxDescription": "Insert a text box into the document.",
  "XtraRichEditStringId.MenuCmd_InsertTextDescription": "InsertText",
  "XtraRichEditStringId.MenuCmd_InsertTrademarkSymbol": "InsertTrademarkSymbol",
  "XtraRichEditStringId.MenuCmd_InsertTrademarkSymbolDescription": "插入商标符号",
  "XtraRichEditStringId.MenuCmd_Language": "Language",
  "XtraRichEditStringId.MenuCmd_LanguageDescription": "Set the language used to check the spelling and grammar of the selected text.",
  "XtraRichEditStringId.MenuCmd_LastDataRecord": "最后一条记录",
  "XtraRichEditStringId.MenuCmd_LastDataRecordDescription": "最后一条记录",
  "XtraRichEditStringId.MenuCmd_LoadDocument": "打开",
  "XtraRichEditStringId.MenuCmd_LoadDocumentDescription": "Open a document.",
  "XtraRichEditStringId.MenuCmd_LockField": "Lock Field",
  "XtraRichEditStringId.MenuCmd_LockFieldDescription": "Lock Field",
  "XtraRichEditStringId.MenuCmd_LockTracking": "Lock Tracking",
  "XtraRichEditStringId.MenuCmd_LockTrackingDescription": "Use a password to keep others from turning off Track Changes",
  "XtraRichEditStringId.MenuCmd_MailMergeSaveDocumentAsCommand": "邮件合并",
  "XtraRichEditStringId.MenuCmd_MailMergeSaveDocumentAsCommandDescription": "邮件合并",
  "XtraRichEditStringId.MenuCmd_MakeTextLowerCase": "小写字母",
  "XtraRichEditStringId.MenuCmd_MakeTextLowerCaseDescription": "将所有选定的文本更改为小写。",
  "XtraRichEditStringId.MenuCmd_MakeTextUpperCase": "大写",
  "XtraRichEditStringId.MenuCmd_MakeTextUpperCaseDescription": "将所有选定的文本更改为全部大写。",
  "XtraRichEditStringId.MenuCmd_MergeTableCells": "Merge Cells",
  "XtraRichEditStringId.MenuCmd_MergeTableCellsDescription": "将选定的单元格合并为一个单元格。",
  "XtraRichEditStringId.MenuCmd_ModifyHyperlink": "ModifyHyperlink",
  "XtraRichEditStringId.MenuCmd_ModifyHyperlinkDescription": "ModifyHyperlinkDescription",
  "XtraRichEditStringId.MenuCmd_ModifyTableStyle": "Modify Table Style...",
  "XtraRichEditStringId.MenuCmd_MoveBackward": "MoveBackward",
  "XtraRichEditStringId.MenuCmd_MoveBackwardDescription": "MoveBackward",
  "XtraRichEditStringId.MenuCmd_MoveForward": "MoveForward",
  "XtraRichEditStringId.MenuCmd_MoveForwardDescription": "MoveForward",
  "XtraRichEditStringId.MenuCmd_MoveLineDown": "MoveLineDown",
  "XtraRichEditStringId.MenuCmd_MoveLineDownDescription": "MoveLineDown",
  "XtraRichEditStringId.MenuCmd_MoveLineUp": "MoveLineUp",
  "XtraRichEditStringId.MenuCmd_MoveLineUpDescription": "MoveLineUp",
  "XtraRichEditStringId.MenuCmd_MoveNextPage": "MoveNextPage",
  "XtraRichEditStringId.MenuCmd_MoveNextPageDescription": "MoveNextPage",
  "XtraRichEditStringId.MenuCmd_MoveNextParagraph": "MoveNextParagraph",
  "XtraRichEditStringId.MenuCmd_MoveNextParagraphDescription": "MoveNextParagraph",
  "XtraRichEditStringId.MenuCmd_MoveNextWord": "MoveNextWord",
  "XtraRichEditStringId.MenuCmd_MoveNextWordDescription": "MoveNextWord",
  "XtraRichEditStringId.MenuCmd_MovePreviousPage": "MovePreviousPage",
  "XtraRichEditStringId.MenuCmd_MovePreviousPageDescription": "MovePreviousPage",
  "XtraRichEditStringId.MenuCmd_MovePreviousParagraph": "MovePreviousParagraph",
  "XtraRichEditStringId.MenuCmd_MovePreviousParagraphDescription": "MovePreviousParagraph",
  "XtraRichEditStringId.MenuCmd_MovePreviousWord": "MovePreviousWord",
  "XtraRichEditStringId.MenuCmd_MovePreviousWordDescription": "MovePreviousWord",
  "XtraRichEditStringId.MenuCmd_MoveScreenDown": "MoveScreenDown",
  "XtraRichEditStringId.MenuCmd_MoveScreenDownDescription": "MoveScreenDown",
  "XtraRichEditStringId.MenuCmd_MoveScreenUp": "MoveScreenUp",
  "XtraRichEditStringId.MenuCmd_MoveScreenUpDescription": "MoveScreenUp",
  "XtraRichEditStringId.MenuCmd_MoveToBeginOfDocument": "MoveToBeginBeginOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToBeginOfDocumentDescription": "MoveToBeginBeginOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfDocument": "MoveToEndOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfDocumentDescription": "MoveToEndOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfLine": "MoveToEndOfLine",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfLineDescription": "MoveToEndOfLine",
  "XtraRichEditStringId.MenuCmd_MoveToStartOfLine": "MoveToBeginOfLine",
  "XtraRichEditStringId.MenuCmd_MoveToStartOfLineDescription": "MoveToBeginOfLine",
  "XtraRichEditStringId.MenuCmd_NewComment": "New Comment",
  "XtraRichEditStringId.MenuCmd_NewCommentDescription": "Add a comment about the selection.",
  "XtraRichEditStringId.MenuCmd_NewEmptyDocument": "新建",
  "XtraRichEditStringId.MenuCmd_NewEmptyDocumentDescription": "创建一个新文档。",
  "XtraRichEditStringId.MenuCmd_NewTableStyle": "新的表格样式......",
  "XtraRichEditStringId.MenuCmd_NextComment": "下一次",
  "XtraRichEditStringId.MenuCmd_NextCommentDescription": "定位到文档中的下一条批注。",
  "XtraRichEditStringId.MenuCmd_NextDataRecord": "下一条记录",
  "XtraRichEditStringId.MenuCmd_NextDataRecordDescription": "下一条记录",
  "XtraRichEditStringId.MenuCmd_NextEndnote": "Next Endnote",
  "XtraRichEditStringId.MenuCmd_NextEndnoteDescription": "Jump to next endnote",
  "XtraRichEditStringId.MenuCmd_NextFootnote": "Next Footnote",
  "XtraRichEditStringId.MenuCmd_NextFootnoteDescription": "Jump to next footnote",
  "XtraRichEditStringId.MenuCmd_NextRevision": "下一次",
  "XtraRichEditStringId.MenuCmd_NextRevisionDescription": "Jump to the next tracked change.",
  "XtraRichEditStringId.MenuCmd_None": " ",
  "XtraRichEditStringId.MenuCmd_NoteOptions": "Note Options...",
  "XtraRichEditStringId.MenuCmd_OpenHyperlink": "打开超链接",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkAtCaretPosition": "OpenHyperlinkAtCaretPosition",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkAtCaretPositionDescription": "OpenHyperlinkAtCaretPositionDescription",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkDescription": "打开超链接",
  "XtraRichEditStringId.MenuCmd_OvertypeText": "OvertypeText",
  "XtraRichEditStringId.MenuCmd_OvertypeTextDescription": "OvertypeText",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentCenter": "中心",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentCenterDescription": "Center your content on the page.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentDistribute": "Distributed",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentDistributeDescription": "Align text to both left and right margins.\n\nSpace will be added between characters and words. If the last line is short, extra spaces will be added between the characters to make it match the width of the paragraph.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustify": "Justify",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyDescription": "Distribute your text evenly between left and right margins. Justified text gives you document clean edges so it looks more polished.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyHigh": "Justify High",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyHighDescription": "Align text to both left and right margins.\n\nSpecifies that a paragraph uses the kashida with the widest length for Arabic text. For other languages, paragraph text is justified with the widest inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyLow": "Justify Low",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyLowDescription": "Align text to both left and right margins.\n\nIf the language is Arabic, the paragraph uses small length Kashida. In other languages, text is justified with short inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyMedium": "Justify Medium",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyMediumDescription": "Align text to both left and right margins.\n\nIf the language is Arabic, the paragraph uses medium-length Kashida. In other languages, text is justified with wider inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentLeft": "使文本左对齐",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentLeftDescription": "Align your content with the left margin.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentRight": "右对齐文本",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentRightDescription": "Align your content with the right margin.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentThaiDistributeDescription": "Align text to both left and right margins by adding extra space between each two characters for languages with tone mark and vowel mark.",
  "XtraRichEditStringId.MenuCmd_ParagraphLeftToRight": "Left-to-Right Text Direction",
  "XtraRichEditStringId.MenuCmd_ParagraphLeftToRightDescription": "Set the text to read from right to left.",
  "XtraRichEditStringId.MenuCmd_ParagraphRightToLeft": "Right-to-Left Text Direction",
  "XtraRichEditStringId.MenuCmd_ParagraphRightToLeftDescription": "Set the text to read from left to right.",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressHyphenation": "禁止显示当前段落断字功能",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressHyphenationDescription": "禁止显示当前段落断字功能",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressLineNumbers": "Suppress for Current Paragraph",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressLineNumbersDescription": "Suppress for Current Paragraph",
  "XtraRichEditStringId.MenuCmd_Paste": "粘贴",
  "XtraRichEditStringId.MenuCmd_PasteDescription": "Paste the contents of the Clipboard.",
  "XtraRichEditStringId.MenuCmd_PasteFiles": "Files",
  "XtraRichEditStringId.MenuCmd_PasteFilesDescription": "将作为嵌入的文件剪贴板中的内容插入。",
  "XtraRichEditStringId.MenuCmd_PasteHtmlText": "HTML Format",
  "XtraRichEditStringId.MenuCmd_PasteHtmlTextDescription": "将作为 HTML 格式剪贴板中的内容插入。",
  "XtraRichEditStringId.MenuCmd_PasteImage": "Picture",
  "XtraRichEditStringId.MenuCmd_PasteImageDescription": "将作为图片剪贴板中的内容插入。",
  "XtraRichEditStringId.MenuCmd_PasteMetafileImage": "图元文件",
  "XtraRichEditStringId.MenuCmd_PasteMetafileImageDescription": "将图元文件作为剪贴板中的内容插入。",
  "XtraRichEditStringId.MenuCmd_PastePlainText": "未格式化的文本",
  "XtraRichEditStringId.MenuCmd_PastePlainTextDescription": "将剪贴板中的内容作为文本插入不带任何格式。",
  "XtraRichEditStringId.MenuCmd_PasteRtfText": "带格式文本 (RTF)",
  "XtraRichEditStringId.MenuCmd_PasteRtfTextDescription": "将剪贴板中的内容作为文本插入带有字体和表格格式。",
  "XtraRichEditStringId.MenuCmd_PasteSilverlightXamlText": "带格式文本 (XAML)",
  "XtraRichEditStringId.MenuCmd_PasteSilverlightXamlTextDescription": "插入剪贴板的内容作为文本与字体格式。",
  "XtraRichEditStringId.MenuCmd_PlaceCaretToPhysicalPoint": "PlaceCaretToPhysicalPoint",
  "XtraRichEditStringId.MenuCmd_PlaceCaretToPhysicalPointDescription": "PlaceCaretToPhysicalPoint",
  "XtraRichEditStringId.MenuCmd_PreviousComment": "上一页",
  "XtraRichEditStringId.MenuCmd_PreviousCommentDescription": "定位到文档中的前一批注。",
  "XtraRichEditStringId.MenuCmd_PreviousDataRecord": "上一条记录",
  "XtraRichEditStringId.MenuCmd_PreviousDataRecordDescription": "上一条记录",
  "XtraRichEditStringId.MenuCmd_PreviousEndnote": "Previous Endnote",
  "XtraRichEditStringId.MenuCmd_PreviousEndnoteDescription": "Jump to previous endnote",
  "XtraRichEditStringId.MenuCmd_PreviousFootnote": "Previous Footnote",
  "XtraRichEditStringId.MenuCmd_PreviousFootnoteDescription": "Jump to previous footnote",
  "XtraRichEditStringId.MenuCmd_PrevRevision": "上一页",
  "XtraRichEditStringId.MenuCmd_PrevRevisionDescription": "Jump to the previous tracked change.",
  "XtraRichEditStringId.MenuCmd_Print": "打印",
  "XtraRichEditStringId.MenuCmd_PrintDescription": "Select a printer, number of copies, and other printing options before printing.",
  "XtraRichEditStringId.MenuCmd_PrintPreview": "Print Pre&view",
  "XtraRichEditStringId.MenuCmd_PrintPreviewDescription": "Preview pages before printing.",
  "XtraRichEditStringId.MenuCmd_PrintView": "Print View",
  "XtraRichEditStringId.MenuCmd_PrintViewDescription": "Print View",
  "XtraRichEditStringId.MenuCmd_ProtectDocument": "Protect Document",
  "XtraRichEditStringId.MenuCmd_ProtectDocumentDescription": "帮助限制人们从编辑文档通过指定一个密码。",
  "XtraRichEditStringId.MenuCmd_QuickPrint": "快速打印",
  "XtraRichEditStringId.MenuCmd_QuickPrintDescription": "Send the document directly to the default printer without making changes.",
  "XtraRichEditStringId.MenuCmd_ReadingView": "阅读视图",
  "XtraRichEditStringId.MenuCmd_ReadingViewDescription": "阅读视图",
  "XtraRichEditStringId.MenuCmd_Redo": "重做",
  "XtraRichEditStringId.MenuCmd_RedoDescription": "Redo the last operation.",
  "XtraRichEditStringId.MenuCmd_Reject": "Reject",
  "XtraRichEditStringId.MenuCmd_RejectAllChanges": "Reject All Changes",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesAndStopTracking": "Reject All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesAndStopTrackingDescription": "Reject All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesDescription": "Reject All Changes",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesShown": "Reject All Changes Shown",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesShownDescription": "Reject All Changes Shown",
  "XtraRichEditStringId.MenuCmd_RejectAndMoveToNextRevision": "Reject and Move to Next",
  "XtraRichEditStringId.MenuCmd_RejectAndMoveToNextRevisionDescription": "Undo this change and move on to the next one.",
  "XtraRichEditStringId.MenuCmd_RejectCurrentRevision": "Reject This Change",
  "XtraRichEditStringId.MenuCmd_RejectCurrentRevisionDescription": "Reject This Change",
  "XtraRichEditStringId.MenuCmd_RejectDescription": "Click for additional options, such as rejecting all the changes at once.",
  "XtraRichEditStringId.MenuCmd_RemoveHyperlink": "Remove hyperlink",
  "XtraRichEditStringId.MenuCmd_RemoveHyperlinkDescription": "Remove hyperlink",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingAfterParagraph": "Remove Space &After Paragraph",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingAfterParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingBeforeParagraph": "Remove Space &Before Paragraph",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingBeforeParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_Replace": "替换",
  "XtraRichEditStringId.MenuCmd_ReplaceAllBackward": "ReplaceAllBackward",
  "XtraRichEditStringId.MenuCmd_ReplaceAllBackwardDescription": "ReplaceAllBackwardDescription",
  "XtraRichEditStringId.MenuCmd_ReplaceAllForward": "ReplaceAllForward",
  "XtraRichEditStringId.MenuCmd_ReplaceAllForwardDescription": "ReplaceAllForwardDescription",
  "XtraRichEditStringId.MenuCmd_ReplaceBackward": "ReplaceBackward",
  "XtraRichEditStringId.MenuCmd_ReplaceBackwardDescription": "ReplaceBackward",
  "XtraRichEditStringId.MenuCmd_ReplaceDescription": "替换文档中的文本。",
  "XtraRichEditStringId.MenuCmd_ReplaceForward": "ReplaceForward",
  "XtraRichEditStringId.MenuCmd_ReplaceForwardDescription": "ReplaceForward",
  "XtraRichEditStringId.MenuCmd_ReplaceText": "ReplaceText",
  "XtraRichEditStringId.MenuCmd_ReplaceTextDescription": "ReplaceTextDescription",
  "XtraRichEditStringId.MenuCmd_ResetCharacterFormatting": "重置字符格式",
  "XtraRichEditStringId.MenuCmd_ResetCharacterFormattingDescription": "将所选内容应用样式的默认字符格式。",
  "XtraRichEditStringId.MenuCmd_ResetTableCellsBorders": "&No Border",
  "XtraRichEditStringId.MenuCmd_ResetTableCellsBordersDescription": "自定义所选单元格的边框。",
  "XtraRichEditStringId.MenuCmd_Reviewers": "Reviewers",
  "XtraRichEditStringId.MenuCmd_ReviewersDescription": "选择要在文档中突出显示的审阅者批注。",
  "XtraRichEditStringId.MenuCmd_ReviewingPane": "Reviewing Pane",
  "XtraRichEditStringId.MenuCmd_ReviewingPaneDescription": "显示或隐藏在一个单独的窗口中的文档评论。",
  "XtraRichEditStringId.MenuCmd_SaveDocument": "保存",
  "XtraRichEditStringId.MenuCmd_SaveDocumentAs": "另存为",
  "XtraRichEditStringId.MenuCmd_SaveDocumentAsDescription": "另存为打开对话框，选择一种文件格式，并将文档保存到新的位置。",
  "XtraRichEditStringId.MenuCmd_SaveDocumentDescription": "保存该文档。",
  "XtraRichEditStringId.MenuCmd_ScrollDown": "向下滚动",
  "XtraRichEditStringId.MenuCmd_ScrollDownDescription": "向下滚动",
  "XtraRichEditStringId.MenuCmd_ScrollToPage": "ScrollToPage",
  "XtraRichEditStringId.MenuCmd_ScrollToPageDescription": "ScrollToPage",
  "XtraRichEditStringId.MenuCmd_SelectAll": "选择所有",
  "XtraRichEditStringId.MenuCmd_SelectAllDescription": "选择整个文档内容。",
  "XtraRichEditStringId.MenuCmd_SelectBookmark": "选择书签",
  "XtraRichEditStringId.MenuCmd_SelectBookmarkDescription": "选择书签",
  "XtraRichEditStringId.MenuCmd_SelectComment": "Select Comment",
  "XtraRichEditStringId.MenuCmd_SelectCommentDescription": "Select Comment",
  "XtraRichEditStringId.MenuCmd_SelectFieldNextToCaret": "SelectFieldNextToCaret",
  "XtraRichEditStringId.MenuCmd_SelectFieldNextToCaretDescription": "SelectFieldNextToCaretDescription",
  "XtraRichEditStringId.MenuCmd_SelectFieldPrevToCaret": "SelectFieldPrevToCaret",
  "XtraRichEditStringId.MenuCmd_SelectFieldPrevToCaretDescription": "SelectFieldPrevToCaretDescription",
  "XtraRichEditStringId.MenuCmd_SelectTable": "选择表",
  "XtraRichEditStringId.MenuCmd_SelectTableCell": "选择单元格",
  "XtraRichEditStringId.MenuCmd_SelectTableCellDescription": "选择单元格",
  "XtraRichEditStringId.MenuCmd_SelectTableColumns": "选择列",
  "XtraRichEditStringId.MenuCmd_SelectTableColumnsDescription": "选择列",
  "XtraRichEditStringId.MenuCmd_SelectTableDescription": "选择表",
  "XtraRichEditStringId.MenuCmd_SelectTableElements": "请选择",
  "XtraRichEditStringId.MenuCmd_SelectTableElementsDescription": "Select the current cell, row, column, or entire table.",
  "XtraRichEditStringId.MenuCmd_SelectTableRow": "选择行",
  "XtraRichEditStringId.MenuCmd_SelectTableRowDescription": "选择行",
  "XtraRichEditStringId.MenuCmd_SetDoubleParagraphSpacing": "2.0",
  "XtraRichEditStringId.MenuCmd_SetDoubleParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBehindTextWrapType": "在文本后面",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBehindTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomCenterAlignment": "Bottom Center",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomCenterAlignmentDescription": "Position in Bottom Center with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomLeftAlignment": "Bottom Left",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomLeftAlignmentDescription": "Position in Bottom Left with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomRightAlignment": "Bottom Right",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomRightAlignmentDescription": "Position in Bottom Right with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInFrontOfTextWrapType": "浮于文字上方",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInFrontOfTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInlineWithTextWrapType": "In Line with Text",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInlineWithTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleCenterAlignment": "Middle Center",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleCenterAlignmentDescription": "Position in Middle Center with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleLeftAlignment": "Middle Left",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleLeftAlignmentDescription": "Position in Middle Left with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleRightAlignment": "Middle Right",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleRightAlignmentDescription": "Position in Middle Right with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectSquareTextWrapType": "Square",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectSquareTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectThroughTextWrapType": "Through",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectThroughTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTightTextWrapType": "Tight",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTightTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopAndBottomTextWrapType": "Top and Bottom",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopAndBottomTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopCenterAlignment": "Top Center",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopCenterAlignmentDescription": "Position in Top Center with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopLeftAlignment": "左上方",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopLeftAlignmentDescription": "Position in Top Left with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopRightAlignment": "右上方",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopRightAlignmentDescription": "Position in Top Right with Square Text Wrapping",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentAutomatic": "自动",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentAutomaticDescription": "Turns on Automatic Hyphenation",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentNone": "无",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentNoneDescription": "Turns off Automatic Hyphenation",
  "XtraRichEditStringId.MenuCmd_SetLandscapePageOrientation": "横向",
  "XtraRichEditStringId.MenuCmd_SetLandscapePageOrientationDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetModerateSectionPageMargins": "Moderate\nTop:\t{1,10}\tBottom:\t{3,10}\nLeft:\t{0,10}\tRight:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetModerateSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetNarrowSectionPageMargins": "Narrow\nTop:\t{1,10}\tBottom:\t{3,10}\nLeft:\t{0,10}\tRight:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetNarrowSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetNormalSectionPageMargins": "Normal\nTop:\t{1,10}\tBottom:\t{3,10}\nLeft:\t{0,10}\tRight:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetNormalSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetParagraphBodyTextLevel": "不显示在表中的内容",
  "XtraRichEditStringId.MenuCmd_SetParagraphBodyTextLevelDescription": "不显示在表中的内容",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading1Level": "Level 1",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading1LevelDescription": "Level 1",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading2Level": "Level 2",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading2LevelDescription": "Level 2",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading3Level": "Level 3",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading3LevelDescription": "Level 3",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading4Level": "Level 4",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading4LevelDescription": "Level 4",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading5Level": "Level 5",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading5LevelDescription": "Level 5",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading6Level": "Level 6",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading6LevelDescription": "Level 6",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading7Level": "Level 7",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading7LevelDescription": "Level 7",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading8Level": "Level 8",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading8LevelDescription": "Level 8",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading9Level": "Level 9",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading9LevelDescription": "Level 9",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeadingLevel": "等级 {0}",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeadingLevelDescription": "等级 {0}",
  "XtraRichEditStringId.MenuCmd_SetPortraitPageOrientation": "纵向",
  "XtraRichEditStringId.MenuCmd_SetPortraitPageOrientationDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetSectionColumns": "列",
  "XtraRichEditStringId.MenuCmd_SetSectionColumnsDescription": "将文本拆分为两个或多个列。",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingContinuous": "连续",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingContinuousDescription": "连续",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingNone": "无",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingNoneDescription": "没有行号。",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewPage": "每页重新开始",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewPageDescription": "每页重新开始",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewSection": "每节重新开始",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewSectionDescription": "每节重新开始",
  "XtraRichEditStringId.MenuCmd_SetSectionOneColumn": "一",
  "XtraRichEditStringId.MenuCmd_SetSectionOneColumnDescription": "One column.",
  "XtraRichEditStringId.MenuCmd_SetSectionThreeColumns": "三",
  "XtraRichEditStringId.MenuCmd_SetSectionThreeColumnsDescription": "三个列。",
  "XtraRichEditStringId.MenuCmd_SetSectionTwoColumns": "Two",
  "XtraRichEditStringId.MenuCmd_SetSectionTwoColumnsDescription": "两个列。",
  "XtraRichEditStringId.MenuCmd_SetSesquialteralParagraphSpacing": "1.5",
  "XtraRichEditStringId.MenuCmd_SetSesquialteralParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetSingleParagraphSpacing": "1.0",
  "XtraRichEditStringId.MenuCmd_SetSingleParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetWideSectionPageMargins": "Wide\nTop:\t{1,10}\tBottom:\t{3,10}\nLeft:\t{0,10}\tRight:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetWideSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShiftTabKey": "ShiftTabKey",
  "XtraRichEditStringId.MenuCmd_ShiftTabKeyDescription": "ShiftTabKey",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldCodes": "显示所有的域代码",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldCodesDescription": "View the document markup with dynamic elements displaying their rich-text codes.",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldResults": "显示所有字段结果",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldResultsDescription": "View the document content with dynamic elements displaying real data.",
  "XtraRichEditStringId.MenuCmd_ShowAltTextForm": "View Alt Text...",
  "XtraRichEditStringId.MenuCmd_ShowBookmarkForm": "书签",
  "XtraRichEditStringId.MenuCmd_ShowBookmarkFormDescription": "Create a bookmark to assign a name to a specific point in a document\n\nYou can make hyperlinks that jump directly to a bookmarked location.",
  "XtraRichEditStringId.MenuCmd_ShowBordersShadingForm": "Borders and Shading",
  "XtraRichEditStringId.MenuCmd_ShowBordersShadingFormDescription": "Explore additional border options, such as line color and line width",
  "XtraRichEditStringId.MenuCmd_ShowColumnsSetupForm": "More &Columns...",
  "XtraRichEditStringId.MenuCmd_ShowColumnsSetupFormDescription": "显示列对话框中自定义列宽度。",
  "XtraRichEditStringId.MenuCmd_ShowCommentForm": "评论",
  "XtraRichEditStringId.MenuCmd_ShowCommentFormDescription": "Show the Comment dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowDocumentProperties": "Document Properties",
  "XtraRichEditStringId.MenuCmd_ShowDocumentPropertiesDescription": "Show the Properties dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowEditStyleForm": "修改样式......",
  "XtraRichEditStringId.MenuCmd_ShowEditStyleFormDescription": "显示编辑样式对话框。",
  "XtraRichEditStringId.MenuCmd_ShowEndnote": "Go to Endnote",
  "XtraRichEditStringId.MenuCmd_ShowFloatingObjectLayoutOptionsForm": "更多的版式选项...",
  "XtraRichEditStringId.MenuCmd_ShowFloatingObjectLayoutOptionsFormDescription": "显示布局对话框。",
  "XtraRichEditStringId.MenuCmd_ShowFontForm": "Font...",
  "XtraRichEditStringId.MenuCmd_ShowFontFormDescription": "Show the Font dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowFootnote": "Go to Footnote",
  "XtraRichEditStringId.MenuCmd_ShowHyperlinkForm": "超链接",
  "XtraRichEditStringId.MenuCmd_ShowHyperlinkFormDescription": "Create a link to a Web page, a picture, an e-mail address, or a program.",
  "XtraRichEditStringId.MenuCmd_ShowHyphenationForm": "Hyphenation Options...",
  "XtraRichEditStringId.MenuCmd_ShowHyphenationFormDescription": "Change the hyphenation behavior of the selected text.",
  "XtraRichEditStringId.MenuCmd_ShowInsertMergeFieldForm": "插入合并域",
  "XtraRichEditStringId.MenuCmd_ShowInsertMergeFieldFormDescription": "从收件人列表或数据表格向文档中添加一个字段。",
  "XtraRichEditStringId.MenuCmd_ShowLineNumberingForm": "&Line Numbering Options...",
  "XtraRichEditStringId.MenuCmd_ShowLineNumberingFormDescription": "Line Numbering Options...",
  "XtraRichEditStringId.MenuCmd_ShowLineSpacingForm": "行间距选项...",
  "XtraRichEditStringId.MenuCmd_ShowLineSpacingFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowMarkup": "Show Markup",
  "XtraRichEditStringId.MenuCmd_ShowMarkupDescription": "Choose what types of markup to show in your document.",
  "XtraRichEditStringId.MenuCmd_ShowNotes": "Show Notes",
  "XtraRichEditStringId.MenuCmd_ShowNotesDescription": "Jump to the footnotes or endnotes",
  "XtraRichEditStringId.MenuCmd_ShowNotesForm": "Footnotes",
  "XtraRichEditStringId.MenuCmd_ShowNotesFormDescription": "Show the Notes dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowNumberingList": "Bullets and Numbering...",
  "XtraRichEditStringId.MenuCmd_ShowNumberingListDescription": "显示编号列表对话框。",
  "XtraRichEditStringId.MenuCmd_ShowPageMarginsSetupForm": "Custom M&argins...",
  "XtraRichEditStringId.MenuCmd_ShowPageMarginsSetupFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowPagePaperSetupForm": "More P&aper Sizes...",
  "XtraRichEditStringId.MenuCmd_ShowPagePaperSetupFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowPageSetupForm": "页面设置",
  "XtraRichEditStringId.MenuCmd_ShowPageSetupFormDescription": "显示页面设置对话框。",
  "XtraRichEditStringId.MenuCmd_ShowParagraphForm": "Paragraph...",
  "XtraRichEditStringId.MenuCmd_ShowParagraphFormDescription": "显示段落对话框。",
  "XtraRichEditStringId.MenuCmd_ShowPasteSpecialForm": "选择性粘贴",
  "XtraRichEditStringId.MenuCmd_ShowPasteSpecialFormDescription": "选择性粘贴",
  "XtraRichEditStringId.MenuCmd_ShowRangeEditingPermissionsForm": "范围编辑权限",
  "XtraRichEditStringId.MenuCmd_ShowRangeEditingPermissionsFormDescription": "Grant user permissions to edit the selected part of the document.",
  "XtraRichEditStringId.MenuCmd_ShowSymbol": "符号",
  "XtraRichEditStringId.MenuCmd_ShowSymbolDescription": "显示符号对话框。",
  "XtraRichEditStringId.MenuCmd_ShowTableOptionsForm": "单元格的边距",
  "XtraRichEditStringId.MenuCmd_ShowTableOptionsFormDescription": "自定义单元格边距和单元格之间的间距。",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesForm": "属性",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormDescription": "显示表属性对话框中更改高级的表属性如缩进和文字环绕选项。",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormDescriptionMenuItem": "显示表属性对话框。",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormMenuItem": "表属性...",
  "XtraRichEditStringId.MenuCmd_ShowTabsForm": "选项卡...",
  "XtraRichEditStringId.MenuCmd_ShowTabsFormDescription": "选项卡",
  "XtraRichEditStringId.MenuCmd_ShowWatermarkForm": "水印",
  "XtraRichEditStringId.MenuCmd_ShowWatermarkFormDescription": "Add a picture or text watermark to the entire document or a specific section.",
  "XtraRichEditStringId.MenuCmd_SimpleView": "简单视图",
  "XtraRichEditStringId.MenuCmd_SimpleViewDescription": "简单视图",
  "XtraRichEditStringId.MenuCmd_SplitTable": "拆分表格",
  "XtraRichEditStringId.MenuCmd_SplitTableCells": "拆分单元格",
  "XtraRichEditStringId.MenuCmd_SplitTableCellsDescription": "Split the selected cells into multiple new cells.",
  "XtraRichEditStringId.MenuCmd_SplitTableCellsMenuItem": "Split Cells...",
  "XtraRichEditStringId.MenuCmd_SplitTableDescription": "表拆分成两个表。在所选的行将成为新表的第一行。",
  "XtraRichEditStringId.MenuCmd_SwitchToDraftView": "草稿视图",
  "XtraRichEditStringId.MenuCmd_SwitchToDraftViewDescription": "要快速编辑文本的视图将文档作为一份草案。某些元素如页眉和页脚的文档将不会在此视图中可见。",
  "XtraRichEditStringId.MenuCmd_SwitchToPrintLayoutView": "Print Layout",
  "XtraRichEditStringId.MenuCmd_SwitchToPrintLayoutViewDescription": "View the document as it will appear on the printed page.",
  "XtraRichEditStringId.MenuCmd_SwitchToSimpleView": "简单视图",
  "XtraRichEditStringId.MenuCmd_SwitchToSimpleViewDescription": "视图将文档作为一个简单的备注。这种观点忽略了提请注意文本编辑的页面布局。",
  "XtraRichEditStringId.MenuCmd_SymbolFormInsertButton": "插入",
  "XtraRichEditStringId.MenuCmd_TabKey": "TabKey",
  "XtraRichEditStringId.MenuCmd_TabKeyDescription": "TabKey",
  "XtraRichEditStringId.MenuCmd_ToggleAllFields": "Toggle All Fields",
  "XtraRichEditStringId.MenuCmd_ToggleAllFieldsDescription": "Toggle between displaying field codes and their results in the document",
  "XtraRichEditStringId.MenuCmd_ToggleAuthorVisibility": "Toggle Authors Visibility",
  "XtraRichEditStringId.MenuCmd_ToggleAuthorVisibilityDescription": "Toggle Authors Visibility",
  "XtraRichEditStringId.MenuCmd_ToggleBandedColumn": "Banded Columns",
  "XtraRichEditStringId.MenuCmd_ToggleBandedColumnDescription": "Display banded columns, in which even columns are formatted differently from odd columns.\n\nThis banding can make tables easier to read.",
  "XtraRichEditStringId.MenuCmd_ToggleBandedRows": "Banded Rows",
  "XtraRichEditStringId.MenuCmd_ToggleBandedRowsDescription": "Display banded rows, in which even rows are formatted differently from odd rows.\n\nThis banding can make tables easier to read.",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentFirstPage": "不同的第一页",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentFirstPageDescription": "指定的独特页眉和页脚的第一页的文档。",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentOddAndEvenPages": "Different Odd && Even Pages",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentOddAndEvenPagesDescription": "Specify that odd-numbered pages should have a different header and footer from even-numbered pages.",
  "XtraRichEditStringId.MenuCmd_ToggleFieldCodes": "切换域代码",
  "XtraRichEditStringId.MenuCmd_ToggleFieldCodesDescription": "切换域代码",
  "XtraRichEditStringId.MenuCmd_ToggleFieldLocked": "Toggle Field Locked",
  "XtraRichEditStringId.MenuCmd_ToggleFieldLockedDescription": "Toggle Field Locked",
  "XtraRichEditStringId.MenuCmd_ToggleFirstColumn": "第一列",
  "XtraRichEditStringId.MenuCmd_ToggleFirstColumnDescription": "显示在表的第一列的特殊格式。",
  "XtraRichEditStringId.MenuCmd_ToggleFirstRow": "标题行",
  "XtraRichEditStringId.MenuCmd_ToggleFirstRowDescription": "显示为表格的第一行的特殊格式。",
  "XtraRichEditStringId.MenuCmd_ToggleFontBold": "加粗",
  "XtraRichEditStringId.MenuCmd_ToggleFontBoldDescription": "使选定的文本加粗。",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleStrikeout": "Double Strikethrough",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleStrikeoutDescription": "双删除线",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleUnderline": "双下划线",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleUnderlineDescription": "双下划线",
  "XtraRichEditStringId.MenuCmd_ToggleFontItalic": "斜体",
  "XtraRichEditStringId.MenuCmd_ToggleFontItalicDescription": "将选定的文本变为斜体。",
  "XtraRichEditStringId.MenuCmd_ToggleFontStrikeout": "删除线",
  "XtraRichEditStringId.MenuCmd_ToggleFontStrikeoutDescription": "绘制一条线穿过所选文本的中间。",
  "XtraRichEditStringId.MenuCmd_ToggleFontUnderline": "下划线",
  "XtraRichEditStringId.MenuCmd_ToggleFontUnderlineDescription": "为所选的文本添加下划线。",
  "XtraRichEditStringId.MenuCmd_ToggleHeaderFooterLinkToPrevious": "Link to Previous",
  "XtraRichEditStringId.MenuCmd_ToggleHeaderFooterLinkToPreviousDescription": "链接到前一节这样的页眉和页脚在当前节中的包含与上一节相同的内容。",
  "XtraRichEditStringId.MenuCmd_ToggleHiddenText": "隐藏",
  "XtraRichEditStringId.MenuCmd_ToggleHiddenTextDescription": "隐藏。",
  "XtraRichEditStringId.MenuCmd_ToggleLastColumn": "最后一列",
  "XtraRichEditStringId.MenuCmd_ToggleLastColumnDescription": "显示在表的最后一列的特殊格式。",
  "XtraRichEditStringId.MenuCmd_ToggleLastRow": "总计行",
  "XtraRichEditStringId.MenuCmd_ToggleLastRowDescription": "显示在表的最后一行的特殊格式。",
  "XtraRichEditStringId.MenuCmd_ToggleOvertype": "Overtype",
  "XtraRichEditStringId.MenuCmd_ToggleOvertypeDescription": "Overtype",
  "XtraRichEditStringId.MenuCmd_ToggleShowHorizontalRuler": "Horizontal Ruler",
  "XtraRichEditStringId.MenuCmd_ToggleShowHorizontalRulerDescription": "View the horizontal ruler, used to measure and line up objects in the document.",
  "XtraRichEditStringId.MenuCmd_ToggleShowTableGridLines": "View &Gridlines",
  "XtraRichEditStringId.MenuCmd_ToggleShowTableGridLinesDescription": "Show or hide the gridlines within the table.",
  "XtraRichEditStringId.MenuCmd_ToggleShowVerticalRuler": "Vertical Ruler",
  "XtraRichEditStringId.MenuCmd_ToggleShowVerticalRulerDescription": "View the vertical ruler, used to measure and line up objects in the document.",
  "XtraRichEditStringId.MenuCmd_ToggleSpellCheckAsYouType": "自动检查拼写您键入",
  "XtraRichEditStringId.MenuCmd_ToggleSpellCheckAsYouTypeDescription": "自动检查拼写您键入",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitContents": "内容自动调整表格",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitContentsDescription": "Auto-Fit Table to the contents.",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitPlaceholder": "自动调整",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitPlaceholderDescription": "自动调整列宽基于其中的案文。您可以设置表格的宽度，根据窗口的大小或将其转换回使用固定列宽。",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitWindow": "窗口自动调整表格",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitWindowDescription": "到窗口自动调整表格。",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsAllBorders": "&All Borders",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsAllBordersDescription": "自定义所选单元格的边框。",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomBorder": "&Bottom Border",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomBorderDescription": "自定义所选单元格的边框。",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomCenterAlignment": "Align Bottom Center",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomCenterAlignmentDescription": "Center text and align it to the bottom of the cell.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomLeftAlignment": "底部左对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomLeftAlignmentDescription": "Align text to the bottom left corner of the cell.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomRightAlignment": "底部右对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomRightAlignmentDescription": "Align text to the bottom right corner of the cell.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideBorder": "&Inside Borders",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideBorderDescription": "自定义所选单元格的边框。",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideHorizontalBorder": "Inside &Horizontal Border",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideHorizontalBorderDescription": "自定义所选单元格的边框。",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideVerticalBorder": "Inside &Vertical Border",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideVerticalBorderDescription": "自定义所选单元格的边框。",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsLeftBorder": "&Left Border",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsLeftBorderDescription": "自定义所选单元格的边框。",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleCenterAlignment": "Align Center",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleCenterAlignmentDescription": "Center text horizontally and vertically within the cell.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleLeftAlignment": "Align Center Left",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleLeftAlignmentDescription": "Center text vertically and align it to the left side of the cell.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleRightAlignment": "Align Center Right",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleRightAlignmentDescription": "Center text vertically and align it to the right side of the cell.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsOutsideBorder": "Out&side Borders",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsOutsideBorderDescription": "自定义所选单元格的边框。",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsRightBorder": "&Right Border",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsRightBorderDescription": "自定义所选单元格的边框。",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopBorder": "To&p Border",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopBorderDescription": "自定义所选单元格的边框。",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopCenterAlignment": "Align Top Center",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopCenterAlignmentDescription": "Center text and align it to the top of the cell.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopLeftAlignment": "顶部左对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopLeftAlignmentDescription": "Align text to the top left corner of the cell.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopRightAlignment": "顶部右对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopRightAlignmentDescription": "对齐文本的单元格的右上角。",
  "XtraRichEditStringId.MenuCmd_ToggleTableFixedColumnWidth": "固定的列宽",
  "XtraRichEditStringId.MenuCmd_ToggleTableFixedColumnWidthDescription": "表大小设置为固定宽度。",
  "XtraRichEditStringId.MenuCmd_ToggleTextCase": "切换大小写",
  "XtraRichEditStringId.MenuCmd_ToggleTextCaseDescription": "切换案例。",
  "XtraRichEditStringId.MenuCmd_ToggleViewMergedData": "查看合并数据",
  "XtraRichEditStringId.MenuCmd_ToggleViewMergedDataDescription": "您的文档中的合并域替换您的收件人列表的实际数据，所以你可以看到它看起来像。",
  "XtraRichEditStringId.MenuCmd_ToggleWhitespace": "显示/隐藏 ¶",
  "XtraRichEditStringId.MenuCmd_ToggleWhitespaceDescription": "显示段落标记和其他隐藏格式符号。",
  "XtraRichEditStringId.MenuCmd_TrackChanges": "Track Changes",
  "XtraRichEditStringId.MenuCmd_TrackChangesDescription": "Keep track of changes made to this document.",
  "XtraRichEditStringId.MenuCmd_Undo": "撤消",
  "XtraRichEditStringId.MenuCmd_UndoDescription": "Undo the last operation.",
  "XtraRichEditStringId.MenuCmd_UnlockField": "Unlock Field",
  "XtraRichEditStringId.MenuCmd_UnlockFieldDescription": "Unlock Field",
  "XtraRichEditStringId.MenuCmd_UnprotectDocument": "Unprotect Document",
  "XtraRichEditStringId.MenuCmd_UnprotectDocumentDescription": "Enable users to edit the document.",
  "XtraRichEditStringId.MenuCmd_UpdateField": "Update Field",
  "XtraRichEditStringId.MenuCmd_UpdateFieldDescription": "Update Field",
  "XtraRichEditStringId.MenuCmd_UpdateFields": "更新的字段",
  "XtraRichEditStringId.MenuCmd_UpdateFieldsDescription": "更新的字段",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfContents": "更新表",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfContentsDescription": "更新内容表，以便所有条目都引用正确的页面数量。",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfFigures": "更新表",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfFiguresDescription": "Update the Table of Figures to include all of the entries in the document.",
  "XtraRichEditStringId.MenuCmd_Zoom": "缩放",
  "XtraRichEditStringId.MenuCmd_ZoomDescription": "缩放",
  "XtraRichEditStringId.MenuCmd_ZoomIn": "放大",
  "XtraRichEditStringId.MenuCmd_ZoomInDescription": "Zoom in to get a close-up view of the document.",
  "XtraRichEditStringId.MenuCmd_ZoomOut": "缩小",
  "XtraRichEditStringId.MenuCmd_ZoomOutDescription": "Zoom out to see more of the page at a reduced size.",
  "XtraRichEditStringId.Msg_BookmarkCreationFailing": "书签具有相同名称已经存在。替换吗?",
  "XtraRichEditStringId.Msg_CannotGroupInlineShapes": "You cannot group inline shapes.",
  "XtraRichEditStringId.Msg_CannotGroupShapesLocatedInDifferentSubdocuments": "Cannot group shapes that are located in different subdocuments.",
  "XtraRichEditStringId.Msg_CantDeleteDefaultStyle": "不能删除默认的样式。",
  "XtraRichEditStringId.Msg_CantPasteFormField": "You cannot paste form fields into comments, headers, footers, footnotes, endnotes, or text boxes.",
  "XtraRichEditStringId.Msg_CantResetDefaultProperties": "可以不重置默认样式设置。",
  "XtraRichEditStringId.Msg_ClickToComment": "评论︰",
  "XtraRichEditStringId.Msg_ClickToFollowHyperlink": "Click to follow link",
  "XtraRichEditStringId.Msg_ContinueSearchFromBeginningQuestion": "你想要从文档的开头开始搜索吗?",
  "XtraRichEditStringId.Msg_ContinueSearchFromEndQuestion": "你想要从文档的末尾开始搜索吗?",
  "XtraRichEditStringId.Msg_ContinueSearchInRemainderQuestion": "你想要搜索文档的其余部分?",
  "XtraRichEditStringId.Msg_CreateHyperlinkError": "不能创建一个超链接。指定的范围中的超链接已存在。",
  "XtraRichEditStringId.Msg_DeleteTableStyleQuestion": "你想要从文档中删除样式 {0} 吗?",
  "XtraRichEditStringId.Msg_DocumentPositionDoesntMatchDocument": "错误： 指定文档位置或范围属于其他文档或子文档",
  "XtraRichEditStringId.Msg_DocumentProtectionInvalidPassword": "The password is incorrect!",
  "XtraRichEditStringId.Msg_DocumentProtectionInvalidPasswordConfirmation": "确认密码不匹配。",
  "XtraRichEditStringId.Msg_DuplicateBookmark": "文档中的书签使用该名称已经存在",
  "XtraRichEditStringId.Msg_EncryptedFile": "Encrypted files are not currently supported",
  "XtraRichEditStringId.Msg_EncryptedFileIntegrityCheckFailed": "This file may have been tampered with or corrupted and the contents should not be trusted. Do you wish to continue opening this file?",
  "XtraRichEditStringId.Msg_ErrorInvalidCustomPropertyValue": "The value entered does not match the specified type. The value will be stored as text.",
  "XtraRichEditStringId.Msg_ErrorLinkDeletedStyle": "错误： 无法链接已删除的样式",
  "XtraRichEditStringId.Msg_GroupCannotContainCanvas": "A group cannot contain a canvas.",
  "XtraRichEditStringId.Msg_IncorrectBookmarkName": "书签名称应以字母开头，只能包含字母数字字符和下划线。",
  "XtraRichEditStringId.Msg_IncorrectNumericFieldFormat": "错误： 无法以指定的格式表示数。",
  "XtraRichEditStringId.Msg_IncorrectOleObjectInsertType": "This OLE object is linked and cannot be saved. You can save only embedded OLE objects.",
  "XtraRichEditStringId.Msg_IncorrectPassword": "The password you supplied is not correct. Verify that the CAPS LOCK key is off and be sure to use the correct capitalization.",
  "XtraRichEditStringId.Msg_IncorrectPattern": "模式不正确。",
  "XtraRichEditStringId.Msg_IntegrityCheckFailedError": "Encrypted file integrity check failed!\nThis file may have been tampered with or corrupted.",
  "XtraRichEditStringId.Msg_InternalError": "内部错误！",
  "XtraRichEditStringId.Msg_InvalidBeginInit": "Error: call to BeginInit inside BeginUpdate",
  "XtraRichEditStringId.Msg_InvalidBeginUpdate": "Error: call to BeginUpdate inside BeginInit",
  "XtraRichEditStringId.Msg_InvalidCharacterScale": "The value must be between {0} and {1}",
  "XtraRichEditStringId.Msg_InvalidCopyFromDocumentModel": "错误： 是不同的源和目标文档模型",
  "XtraRichEditStringId.Msg_InvalidDictionaryFormat": "The dictionary format is incorrect.",
  "XtraRichEditStringId.Msg_InvalidDivisor": "数必须的 {0} 除数。",
  "XtraRichEditStringId.Msg_InvalidDocumentModel": "错误： 文档模型是不同",
  "XtraRichEditStringId.Msg_InvalidEndInit": "Error: call to EndInit or CancelInit without BeginInit or inside BeginUpdate",
  "XtraRichEditStringId.Msg_InvalidEndUpdate": "Error: call to EndUpdate or CancelUpate without BeginUpdate or inside BeginInit",
  "XtraRichEditStringId.Msg_InvalidFontSize": "数必须介于 {0} 和 {1} 之间。",
  "XtraRichEditStringId.Msg_InvalidHeaderFooterOffset": "The measurement must be between {0} and {1}.",
  "XtraRichEditStringId.Msg_InvalidHtmlImagePath": "The specified image path does not exist.",
  "XtraRichEditStringId.Msg_InvalidImageFile": "The specified image is not valid.",
  "XtraRichEditStringId.Msg_InvalidNavigateUri": "此网站的地址是无效的。请检查地址，然后再试。",
  "XtraRichEditStringId.Msg_InvalidNumber": "这不是一个有效的数字。",
  "XtraRichEditStringId.Msg_InvalidNumberingListIndex": "NumberingListIndex refers to a list that does not exist.",
  "XtraRichEditStringId.Msg_InvalidNumberingListStartAtValue": "'Start At' must be between {0} and {1} for this format",
  "XtraRichEditStringId.Msg_InvalidOffset": "Offset must be between 0 and 31 for this format",
  "XtraRichEditStringId.Msg_InvalidParagraphContainNumbering": "Error: paragraph already contains numbering",
  "XtraRichEditStringId.Msg_InvalidParentStyle": "Error: invalid parent style assignment caused circular reference",
  "XtraRichEditStringId.Msg_InvalidSetCharacterProperties": "Error: cannot set properties without BeginInit or without adding object to document",
  "XtraRichEditStringId.Msg_InvalidSetParagraphProperties": "Error: cannot set properties without BeginInit or without adding object to document",
  "XtraRichEditStringId.Msg_InvalidString": "This is not a valid string.",
  "XtraRichEditStringId.Msg_InvalidStyleName": "无效样式名称",
  "XtraRichEditStringId.Msg_InvalidTabStop": "这不是一个有效的制表位。",
  "XtraRichEditStringId.Msg_InvalidValueRange": "值必须是 {0} 和 {1} 之间。",
  "XtraRichEditStringId.Msg_InvalidWidth": "Width must be between 0 and 255 for this format",
  "XtraRichEditStringId.Msg_IsNotValid": "'{0}' 不是 '{1}'的有效值",
  "XtraRichEditStringId.Msg_LeftRightSectionMarginsTooLarge": "左/右页边距的太大，在一些章节中的页面高度。",
  "XtraRichEditStringId.Msg_Loading": "加载......",
  "XtraRichEditStringId.Msg_MagicNumberNotFound": "您试图打开的文件是在不同的格式不是由文件扩展名指定。",
  "XtraRichEditStringId.Msg_MenuManagerPropertyIsNotSet": "The MenuManager property of RichEditControl is not set.",
  "XtraRichEditStringId.Msg_MissingOperator": "!Missing operator.",
  "XtraRichEditStringId.Msg_NoDefaultTabs": "不能设置默认制表位。",
  "XtraRichEditStringId.Msg_NoTocEntriesFound": "找到没有表的目录条目。",
  "XtraRichEditStringId.Msg_NoTrackedChanges": "There aren't any tracked changes in your document.",
  "XtraRichEditStringId.Msg_NumberingListNotInListCollection": "Cannot use a numbering List. The numbering list must be added to Document.NumberingLists collection",
  "XtraRichEditStringId.Msg_OperationIsNotValidDueDocumentState": "Operation is not valid due to the current state of the document.",
  "XtraRichEditStringId.Msg_ParagraphStyleNameAlreadyExists": "此样式名称已经存在。",
  "XtraRichEditStringId.Msg_PasswordNotConfirmed": "Confirmation password is not identical.",
  "XtraRichEditStringId.Msg_PasswordRequiredError": "Password required to open this file!",
  "XtraRichEditStringId.Msg_PasswordTooLong": "Password length must be less than {0} characters long.",
  "XtraRichEditStringId.Msg_PrintingUnavailable": "Printing is not available. Check if the following assemblies are installed:\n{0}",
  "XtraRichEditStringId.Msg_ReplacementsCount": "{0} replacements were made.",
  "XtraRichEditStringId.Msg_Saving": "Saving...",
  "XtraRichEditStringId.Msg_SearchComplete": "搜索已完成。",
  "XtraRichEditStringId.Msg_SearchInBackwardDirectionComplete": "The beginning of the document has been reached.",
  "XtraRichEditStringId.Msg_SearchInForwardDirectionComplete": "The end of the document has been reached.",
  "XtraRichEditStringId.Msg_SearchInSelectionComplete": "在选定内容中的搜索完毕。",
  "XtraRichEditStringId.Msg_SearchItemNotFound": "未找到搜索项目。",
  "XtraRichEditStringId.Msg_SelectBookmarkError": "Cannot select a bookmark of inactive SubDocument.",
  "XtraRichEditStringId.Msg_SelectCommentError": "Cannot select a comment of inactive SubDocument.",
  "XtraRichEditStringId.Msg_ShapesBelongToDifferentCanvases": "The specified shapes belong to different canvases and cannot be grouped.",
  "XtraRichEditStringId.Msg_ShapesDoNotBelogToCanvas": "One or more shapes do not belong to the canvas and cannot be grouped.",
  "XtraRichEditStringId.Msg_SpecifiedShapeIsNotGroup": "The specified shape is not a group.",
  "XtraRichEditStringId.Msg_StyleAlreadyLinked": "Error: style already contains a linked style",
  "XtraRichEditStringId.Msg_StyleNameIsEmpty": "The style name cannot be empty.",
  "XtraRichEditStringId.Msg_SyntaxErrorInFieldPattern": "语法错误，{0}。",
  "XtraRichEditStringId.Msg_TableExceedsMaximumNumberOfColumns": "This exceeds the maximum number of columns.",
  "XtraRichEditStringId.Msg_TableIntegrityError": "错误： 破表完整性",
  "XtraRichEditStringId.Msg_TopBottomSectionMarginsTooLarge": "The top/bottom margins are too large for the page height in some sections.",
  "XtraRichEditStringId.Msg_UnexpectedEndOfFormula": "!意外的公式结尾。",
  "XtraRichEditStringId.Msg_UnknownSwitchArgument": "错误 ！未知的开关参数。",
  "XtraRichEditStringId.Msg_UnmatchedQuotesInFieldPattern": "Error: pattern string contains unmatched quotes.",
  "XtraRichEditStringId.Msg_UnsupportedDocVersion": "只有 MS Word 97 和更高版本都支持",
  "XtraRichEditStringId.Msg_UnsupportedFormatException": "文件格式不受支持",
  "XtraRichEditStringId.Msg_UseDeletedBookmarkError": "错误： 使用删除书签",
  "XtraRichEditStringId.Msg_UseDeletedCommentError": "错误： 使用删除评论",
  "XtraRichEditStringId.Msg_UseDeletedCustomMarkError": "Error: using deleted customMark",
  "XtraRichEditStringId.Msg_UseDeletedFieldError": "错误： 使用字段款",
  "XtraRichEditStringId.Msg_UseDeletedFormFieldError": "Error: using deleted form field",
  "XtraRichEditStringId.Msg_UseDeletedHyperlinkError": "错误： 使用删除超链接",
  "XtraRichEditStringId.Msg_UseDeletedNoteError": "Error: using deleted note",
  "XtraRichEditStringId.Msg_UseDeletedObjectError": "The object is already deleted.",
  "XtraRichEditStringId.Msg_UseDeletedParagraphError": "错误： 使用删除段",
  "XtraRichEditStringId.Msg_UseDeletedSectionError": "错误： 使用删除节",
  "XtraRichEditStringId.Msg_UseDeletedStyleError": "错误： 使用删除样式",
  "XtraRichEditStringId.Msg_UseDeletedTableCellError": "错误： 使用已删除的表格单元格",
  "XtraRichEditStringId.Msg_UseDeletedTableError": "错误： 使用删除表",
  "XtraRichEditStringId.Msg_UseDeletedTableRowError": "错误： 使用已删除的表行",
  "XtraRichEditStringId.Msg_UseDeletedVbaModuleError": "Error: using deleted vba module",
  "XtraRichEditStringId.Msg_UsedWrongUnit": "不正确指定的测量单位。",
  "XtraRichEditStringId.Msg_UseInvalidCharacterProperties": "错误： 字符属性不再有效",
  "XtraRichEditStringId.Msg_UseInvalidCompatibilitySettings": "Error: these compatibility settings are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidCustomProperties": "Error: this custom properties is no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocument": "错误： 此文档不再有效",
  "XtraRichEditStringId.Msg_UseInvalidDocumentEncryption": "Error: these document encryption settings are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocumentProperties": "Error: this document properties is no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocumentTrackChangesOptions": "Error: these document track changes options are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidParagraphProperties": "错误： 段落属性不再有效",
  "XtraRichEditStringId.Msg_VariableDeletedOrMissed": "错误： 文档变量是丢失或已删除 (从变量集合)",
  "XtraRichEditStringId.Msg_WrongPasswordError": "Password check failed!",
  "XtraRichEditStringId.Msg_ZeroDivide": "!Zero divide.",
  "XtraRichEditStringId.MsgWinOnlyLimitation": "This action can be performed only on Windows operating system.",
  "XtraRichEditStringId.No": "N",
  "XtraRichEditStringId.Page": "Page {2}: [{3}] ",
  "XtraRichEditStringId.RtlComment": "[{1} {0}] Comment",
  "XtraRichEditStringId.SelectionCollection_AtLeastOneSelectionIsRequiredException": "Cannot remove a selection. At least one selection is required.",
  "XtraRichEditStringId.SelectionCollection_CannotRemoveCaretException": "Cannot remove caret.",
  "XtraRichEditStringId.SelectionCollection_CurrentSelectionAndSpecifiedSelectionIntersectException": "Current selection and the specified selection intersect.",
  "XtraRichEditStringId.SelectionCollection_EmptyCollectionException": "Cannot add an empty collection.",
  "XtraRichEditStringId.SelectionCollection_FirstCellContinuesVerticalMergeException": "The first cell in the selected range continues the vertical merge, which is not allowed in a selection collection.",
  "XtraRichEditStringId.SelectionCollection_LastCellContinuesVerticalMergeException": "The last cell in the selected range continues the vertical merge, which is not allowed in a selection collection.",
  "XtraRichEditStringId.SelectionCollection_OutOfRangeException": "Index was out of range. Must be non-negative and less than the size of the selection collection.",
  "XtraRichEditStringId.SelectionCollection_PartiallySelectedCellsException": "Partially selected cells are not allowed.",
  "XtraRichEditStringId.SelectionCollection_RangeCannotBeEmptyException": "Range cannot be empty.",
  "XtraRichEditStringId.SelectionCollection_SelecitonShouldIncludeNotMoreThanOneRowException": "A selection range should include not more than one row",
  "XtraRichEditStringId.SelectionCollection_SelectionCollectionEmptyException": "The selection collection is empty.",
  "XtraRichEditStringId.SelectionCollection_SelectionExtendsOutsideTableException": "The selection extends outside the table, so the entire row must be selected.",
  "XtraRichEditStringId.SelectionCollection_SelectionShouldContainAtLeastOneCharacterException": "The selection should contain at least one character.",
  "XtraRichEditStringId.SelectionCollection_SpecifiedSelectionsIntersectException": "Specified selections intersect.",
  "XtraRichEditStringId.TabForm_All": "所有",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentCenter": "中心",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentInside": "里面",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentLeft": "左",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentOutside": "外面",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentRight": "右",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypeColumn": "列",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypePage": "页",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentBottom": "底部",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentCenter": "中心",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentInside": "里面",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentOutside": "外面",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentTop": "顶部",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypePage": "页",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypeParagraph": "段",
  "XtraRichEditStringId.TargetFrameDescription_Blank": "新窗口",
  "XtraRichEditStringId.TargetFrameDescription_Parent": "父框架",
  "XtraRichEditStringId.TargetFrameDescription_Self": "相同的帧",
  "XtraRichEditStringId.TargetFrameDescription_Top": "Whole page",
  "XtraRichEditStringId.UnderlineDashDotDotted": "Dash Dot Dotted",
  "XtraRichEditStringId.UnderlineDashDotted": "Dash Dotted",
  "XtraRichEditStringId.UnderlineDashed": "Dashed",
  "XtraRichEditStringId.UnderlineDashSmallGap": "Dash Small Gap",
  "XtraRichEditStringId.UnderlineDotted": "Dotted",
  "XtraRichEditStringId.UnderlineDouble": "Double",
  "XtraRichEditStringId.UnderlineDoubleWave": "Double Wave",
  "XtraRichEditStringId.UnderlineHeavyWave": "Heavy Wave",
  "XtraRichEditStringId.UnderlineLongDashed": "Long Dashed",
  "XtraRichEditStringId.UnderlineNone": "(无)",
  "XtraRichEditStringId.UnderlineSingle": "Single",
  "XtraRichEditStringId.UnderlineThickDashDotDotted": "Thick Dash Dot Dotted",
  "XtraRichEditStringId.UnderlineThickDashDotted": "Thick Dash Dotted",
  "XtraRichEditStringId.UnderlineThickDashed": "Thick Dashed",
  "XtraRichEditStringId.UnderlineThickDotted": "Thick Dotted",
  "XtraRichEditStringId.UnderlineThickLongDashed": "Thick Long Dashed",
  "XtraRichEditStringId.UnderlineThickSingle": "Thick Single",
  "XtraRichEditStringId.UnderlineWave": "Wave",
  "XtraRichEditStringId.UserGroup_Administrators": "Administrators",
  "XtraRichEditStringId.UserGroup_Contributors": "Contributors",
  "XtraRichEditStringId.UserGroup_CurrentUser": "Current User",
  "XtraRichEditStringId.UserGroup_Editors": "Editors",
  "XtraRichEditStringId.UserGroup_Everyone": "Everyone",
  "XtraRichEditStringId.UserGroup_Owners": "Owners",
  "XtraRichEditStringId.Yes": "Y",
  "RichEditExtensionsStringId.Caption_ColorAutomatic": "自动",
  "RichEditExtensionsStringId.Caption_Formatting": "格式",
  "RichEditExtensionsStringId.Caption_GroupCaptions": "标题",
  "RichEditExtensionsStringId.Caption_GroupClipboard": "剪贴板",
  "RichEditExtensionsStringId.Caption_GroupCommon": "常见",
  "RichEditExtensionsStringId.Caption_GroupDocumentComment": "评论",
  "RichEditExtensionsStringId.Caption_GroupDocumentLanguage": "Language",
  "RichEditExtensionsStringId.Caption_GroupDocumentProofing": "校对",
  "RichEditExtensionsStringId.Caption_GroupDocumentProtection": "保护",
  "RichEditExtensionsStringId.Caption_GroupDocumentTracking": "Tracking",
  "RichEditExtensionsStringId.Caption_GroupDocumentViews": "文档视图",
  "RichEditExtensionsStringId.Caption_GroupEditing": "编辑",
  "RichEditExtensionsStringId.Caption_GroupFloatingPictureToolsArrange": "安排",
  "RichEditExtensionsStringId.Caption_GroupFloatingPictureToolsShapeStyles": "形状样式",
  "RichEditExtensionsStringId.Caption_GroupFont": "字体",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooter": "标头 & & 页脚",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignClose": "关闭",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignNavigation": "导航",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignOptions": "选项",
  "RichEditExtensionsStringId.Caption_GroupIllustrations": "插图",
  "RichEditExtensionsStringId.Caption_GroupInfo": "Info",
  "RichEditExtensionsStringId.Caption_GroupLinks": "链接",
  "RichEditExtensionsStringId.Caption_GroupMailMerge": "邮件合并",
  "RichEditExtensionsStringId.Caption_GroupNotes": "Footnotes",
  "RichEditExtensionsStringId.Caption_GroupPageBackground": "页面背景",
  "RichEditExtensionsStringId.Caption_GroupPages": "页",
  "RichEditExtensionsStringId.Caption_GroupPageSetup": "页面设置",
  "RichEditExtensionsStringId.Caption_GroupParagraph": "段落",
  "RichEditExtensionsStringId.Caption_GroupShow": "显示",
  "RichEditExtensionsStringId.Caption_GroupStyles": "样式",
  "RichEditExtensionsStringId.Caption_GroupSymbols": "符号",
  "RichEditExtensionsStringId.Caption_GroupTableOfContents": "表的内容",
  "RichEditExtensionsStringId.Caption_GroupTables": "表",
  "RichEditExtensionsStringId.Caption_GroupText": "文本",
  "RichEditExtensionsStringId.Caption_GroupZoom": "缩放",
  "RichEditExtensionsStringId.Caption_NoColor": "没有颜色",
  "RichEditExtensionsStringId.Caption_NoFill": "没有填充",
  "RichEditExtensionsStringId.Caption_NoOutline": "No Outline",
  "RichEditExtensionsStringId.Caption_PageCategoryFloatingPictureTools": "图片工具",
  "RichEditExtensionsStringId.Caption_PageCategoryHeaderFooterTools": "页眉和页脚工具",
  "RichEditExtensionsStringId.Caption_PageFile": "文件",
  "RichEditExtensionsStringId.Caption_PageFloatingObjectPictureToolsFormat": "格式",
  "RichEditExtensionsStringId.Caption_PageHeaderFooterToolsDesign": "设计",
  "RichEditExtensionsStringId.Caption_PageHome": "首页",
  "RichEditExtensionsStringId.Caption_PageInsert": "插入",
  "RichEditExtensionsStringId.Caption_PageLayout": "布局",
  "RichEditExtensionsStringId.Caption_PageMailings": "邮件",
  "RichEditExtensionsStringId.Caption_PagePageLayout": "页面布局",
  "RichEditExtensionsStringId.Caption_PageReferences": "引用",
  "RichEditExtensionsStringId.Caption_PageReview": "审查",
  "RichEditExtensionsStringId.Caption_PageView": "视图",
  "ASPxRichEditStringId.Font": "字体",
  "ASPxRichEditStringId.FontStyle": "Font style",
  "ASPxRichEditStringId.FontSize": "Font size",
  "ASPxRichEditStringId.FontColor": "Font color",
  "ASPxRichEditStringId.UnderlineStyle": "Underline style",
  "ASPxRichEditStringId.UnderlineColor": "Underline color",
  "ASPxRichEditStringId.Effects": "Effect",
  "ASPxRichEditStringId.AllCaps": "All caps",
  "ASPxRichEditStringId.SmallCaps": "Small caps",
  "ASPxRichEditStringId.Hidden": "隐藏",
  "ASPxRichEditStringId.Normal": "正常",
  "ASPxRichEditStringId.Bold": "加粗",
  "ASPxRichEditStringId.Italic": "斜体",
  "ASPxRichEditStringId.BoldItalic": "Bold Italic",
  "ASPxRichEditStringId.UnderlineWordsOnly": "Underline words only",
  "ASPxRichEditStringId.UnderlineType_None": "无",
  "ASPxRichEditStringId.UnderlineType_Single": "Single",
  "ASPxRichEditStringId.UnderlineType_Dotted": "Dotted",
  "ASPxRichEditStringId.UnderlineType_Dashed": "Dashed",
  "ASPxRichEditStringId.UnderlineType_DashDotted": "Dash Dotted",
  "ASPxRichEditStringId.UnderlineType_DashDotDotted": "Dash Dot Dotted",
  "ASPxRichEditStringId.UnderlineType_Double": "Double",
  "ASPxRichEditStringId.UnderlineType_HeavyWave": "Heavy Wave",
  "ASPxRichEditStringId.UnderlineType_LongDashed": "Long Dashed",
  "ASPxRichEditStringId.UnderlineType_ThickSingle": "Thick Single",
  "ASPxRichEditStringId.UnderlineType_ThickDotted": "Thick Dotted",
  "ASPxRichEditStringId.UnderlineType_ThickDashed": "Thick Dashed",
  "ASPxRichEditStringId.UnderlineType_ThickDashDotted": "Thick Dash Dotted",
  "ASPxRichEditStringId.UnderlineType_ThickDashDotDotted": "Thick Dash Dot Dotted",
  "ASPxRichEditStringId.UnderlineType_ThickLongDashed": "Thick Long Dashed",
  "ASPxRichEditStringId.UnderlineType_DoubleWave": "Double Wave",
  "ASPxRichEditStringId.UnderlineType_Wave": "Wave",
  "ASPxRichEditStringId.UnderlineType_DashSmallGap": "Dash Small Gap",
  "ASPxRichEditStringId.StrikeoutType_None": "无",
  "ASPxRichEditStringId.StrikeoutType_Single": "Single",
  "ASPxRichEditStringId.StrikeoutType_Double": "Double",
  "ASPxRichEditStringId.CharacterFormattingScript_Normal": "正常",
  "ASPxRichEditStringId.CharacterFormattingScript_Subscript": "下标",
  "ASPxRichEditStringId.CharacterFormattingScript_Superscript": "上标",
  "ASPxRichEditStringId.ParagraphTab0": "Indents And Spacing",
  "ASPxRichEditStringId.ParagraphTab1": "Line And Page Breaks",
  "ASPxRichEditStringId.General": "一般",
  "ASPxRichEditStringId.Alignment": "对齐方式",
  "ASPxRichEditStringId.Left": "左",
  "ASPxRichEditStringId.Right": "右",
  "ASPxRichEditStringId.Centered": "Centered",
  "ASPxRichEditStringId.Justified": "Justified",
  "ASPxRichEditStringId.OutlineLevel": "Outline level",
  "ASPxRichEditStringId.BodyText": "Body Text",
  "ASPxRichEditStringId.Level": "级别",
  "ASPxRichEditStringId.Indentation": "Indentation",
  "ASPxRichEditStringId.Special": "特别",
  "ASPxRichEditStringId.By": "By",
  "ASPxRichEditStringId.none": "(无)",
  "ASPxRichEditStringId.FirstLine": "First line",
  "ASPxRichEditStringId.Hanging": "Hanging",
  "ASPxRichEditStringId.Spacing": "间距",
  "ASPxRichEditStringId.Before": "Before",
  "ASPxRichEditStringId.LineSpacing": "Line spacing",
  "ASPxRichEditStringId.At": "At",
  "ASPxRichEditStringId.After": "After",
  "ASPxRichEditStringId.Single": "Single",
  "ASPxRichEditStringId.spacing_1_5_lines": "1.5 lines",
  "ASPxRichEditStringId.Double": "Double",
  "ASPxRichEditStringId.Multiple": "Multiple",
  "ASPxRichEditStringId.Exactly": "Exactly",
  "ASPxRichEditStringId.AtLeast": "At least",
  "ASPxRichEditStringId.NoSpace": "Don't add space between paragraph of the same style",
  "ASPxRichEditStringId.Pagination": "Pagination",
  "ASPxRichEditStringId.KLT": "Keep lines together",
  "ASPxRichEditStringId.PBB": "Page break before",
  "ASPxRichEditStringId.Options": "选项",
  "ASPxRichEditStringId.Preview": "预览",
  "ASPxRichEditStringId.Style": "样式",
  "ASPxRichEditStringId.Color": "颜色",
  "ASPxRichEditStringId.SaveToServer": "Save file to the server",
  "ASPxRichEditStringId.DownloadCopy": "Download a copy",
  "ASPxRichEditStringId.FolderPath": "Folder path",
  "ASPxRichEditStringId.FileType": "File type",
  "ASPxRichEditStringId.FileName": "File name",
  "ASPxRichEditStringId.ChooseType": "Choose download file type",
  "ASPxRichEditStringId.SaveFileAs": "Save file as",
  "ASPxRichEditStringId.Invalid_FileName": "Invalid file name",
  "ASPxRichEditStringId.PathDoesNotExist": "Path does not exist.\nCheck the path and try again.",
  "ASPxRichEditStringId.Portrait": "纵向",
  "ASPxRichEditStringId.Landscape": "横向",
  "ASPxRichEditStringId.Continuous": "连续",
  "ASPxRichEditStringId.NewPage": "New page",
  "ASPxRichEditStringId.EvenPage": "Even page",
  "ASPxRichEditStringId.OddPage": "Odd page",
  "ASPxRichEditStringId.WholeDocument": "Whole document",
  "ASPxRichEditStringId.CurrentSection": "Current section",
  "ASPxRichEditStringId.SelectedSections": "Selected sections",
  "ASPxRichEditStringId.ThisPointForward": "This point forward",
  "ASPxRichEditStringId.Margins": "边距",
  "ASPxRichEditStringId.Paper": "纸",
  "ASPxRichEditStringId.Layout": "布局",
  "ASPxRichEditStringId.Top": "顶部",
  "ASPxRichEditStringId.Bottom": "底部",
  "ASPxRichEditStringId.Orientation": "方向",
  "ASPxRichEditStringId.PaperSize": "Paper size",
  "ASPxRichEditStringId.Width": "宽度",
  "ASPxRichEditStringId.Height": "高度",
  "ASPxRichEditStringId.Section": "Section",
  "ASPxRichEditStringId.SectionStart": "Section start",
  "ASPxRichEditStringId.HeadersAndFooters": "Headers and footers",
  "ASPxRichEditStringId.DifferentOddAndEven": "Different odd and even",
  "ASPxRichEditStringId.DifferentFirstPage": "Different first page",
  "ASPxRichEditStringId.ApplyTo": "应用",
  "ASPxRichEditStringId.FromEdge": "From edge",
  "ASPxRichEditStringId.Header": "标头",
  "ASPxRichEditStringId.Footer": "页脚",
  "ASPxRichEditStringId.CancelButton": "取消",
  "ASPxRichEditStringId.OkButton": "确定",
  "ASPxRichEditStringId.OpenButton": "打开",
  "ASPxRichEditStringId.SaveAsButton": "保存",
  "ASPxRichEditStringId.DownloadButton": "下载",
  "ASPxRichEditStringId.SelectButton": "Select",
  "ASPxRichEditStringId.InsertButton": "插入",
  "ASPxRichEditStringId.ChangeButton": "Change",
  "ASPxRichEditStringId.CloseButton": "关闭",
  "ASPxRichEditStringId.InsertTable_TableSize": "表的大小",
  "ASPxRichEditStringId.InsertTable_NumberOfColumns": "Number of columns",
  "ASPxRichEditStringId.InsertTable_NumberOfRows": "Number of rows",
  "ASPxRichEditStringId.SplitCells_MergeCells": "Merge cells before split",
  "ASPxRichEditStringId.InsertCells_ShiftCellsRight": "Shift cells right",
  "ASPxRichEditStringId.InsertCells_ShiftCellsDown": "Shift cells down",
  "ASPxRichEditStringId.InsertCells_InsertEntireRow": "Insert entire row",
  "ASPxRichEditStringId.InsertCells_InsertEntireColumn": "Insert entire column",
  "ASPxRichEditStringId.DeleteCells_ShiftCellsLeft": "Shift cells left",
  "ASPxRichEditStringId.DeleteCells_ShiftCellsUp": "Shift cells up",
  "ASPxRichEditStringId.DeleteCells_DeleteEntireRow": "Delete entire row",
  "ASPxRichEditStringId.DeleteCells_DeleteEntireColumn": "Delete entire column",
  "ASPxRichEditStringId.InsertImage_FromWeb": "From the web (URL)",
  "ASPxRichEditStringId.InsertImage_FromLocal": "From your computer",
  "ASPxRichEditStringId.InsertImage_EnterUrl": "Enter image web address",
  "ASPxRichEditStringId.InsertImage_UploadInstructions": "Browse your computer for the image file to upload",
  "ASPxRichEditStringId.InsertImage_ImagePreview": "Image preview",
  "ASPxRichEditStringId.TableProperties_Size": "大小",
  "ASPxRichEditStringId.TableProperties_Alignment": "对齐方式",
  "ASPxRichEditStringId.TableProperties_VerticalAlignment": "Vertical alignment",
  "ASPxRichEditStringId.TableProperties_MeasureIn": "Measure in",
  "ASPxRichEditStringId.TableProperties_PreferredWidth": "Preferred width",
  "ASPxRichEditStringId.TableProperties_IndentLeft": "Indent from left",
  "ASPxRichEditStringId.TableProperties_SpecifyHeight": "Specify height",
  "ASPxRichEditStringId.TableProperties_RowHeight": "Row height is",
  "ASPxRichEditStringId.TableProperties_Table": "表",
  "ASPxRichEditStringId.TableProperties_Row": "行",
  "ASPxRichEditStringId.TableProperties_Column": "列",
  "ASPxRichEditStringId.TableProperties_Cell": "单元格",
  "ASPxRichEditStringId.TableProperties_Options": "选项...",
  "ASPxRichEditStringId.TableProperties_BordersAndShading": "Borders and Shading...",
  "ASPxRichEditStringId.TableProperties_PreviousRow": "Previous row",
  "ASPxRichEditStringId.TableProperties_NextRow": "Next row",
  "ASPxRichEditStringId.TableProperties_PreviousColumn": "Previous column",
  "ASPxRichEditStringId.TableProperties_NextColumn": "Next column",
  "ASPxRichEditStringId.TableProperties_CantSplit": "Allow row to break across pages",
  "ASPxRichEditStringId.TableOptions_DefaultCellMargins": "Default cell margins",
  "ASPxRichEditStringId.TableOptions_DefaultCellSpacing": "Default cell spacing",
  "ASPxRichEditStringId.TableOptions_AllowSpacing": "Allow spacing between cells",
  "ASPxRichEditStringId.TableOptions_AutoResize": "Automatically resize to fit contents",
  "ASPxRichEditStringId.BorderShading_Borders": "Borders",
  "ASPxRichEditStringId.BorderShading_Shading": "底纹",
  "ASPxRichEditStringId.BorderShading_Fill": "Fill",
  "ASPxRichEditStringId.BorderShading_BordersDescription": "Click on diagram below or use buttons to apply borders",
  "ASPxRichEditStringId.BorderShading_BordersNone": "无",
  "ASPxRichEditStringId.BorderShading_BordersBox": "Box",
  "ASPxRichEditStringId.BorderShading_BordersAll": "所有",
  "ASPxRichEditStringId.BorderShading_BordersGrid": "网格",
  "ASPxRichEditStringId.BorderShading_BordersCustom": "自定义",
  "ASPxRichEditStringId.CellOptions_CellMargins": "Cell margins",
  "ASPxRichEditStringId.CellOptions_SameAsTable": "Same as the whole table",
  "ASPxRichEditStringId.CellOptions_WrapText": "文本换行",
  "ASPxRichEditStringId.Columns_Presets": "Presets",
  "ASPxRichEditStringId.Columns_NumberOfColumns": "Number of columns",
  "ASPxRichEditStringId.Columns_WidthAndSpacing": "Width and spacing",
  "ASPxRichEditStringId.Columns_EqualWidth": "Equal column width",
  "ASPxRichEditStringId.Columns_Col": "Col #:",
  "ASPxRichEditStringId.Columns_Width": "宽度",
  "ASPxRichEditStringId.Columns_Spacing": "间距",
  "ASPxRichEditStringId.PageFile": "文件",
  "ASPxRichEditStringId.PageHome": "首页",
  "ASPxRichEditStringId.PageInsert": "插入",
  "ASPxRichEditStringId.PagePageLayout": "页面布局",
  "ASPxRichEditStringId.PageReferences": "引用",
  "ASPxRichEditStringId.PageMailings": "邮件合并",
  "ASPxRichEditStringId.PageReview": "Review",
  "ASPxRichEditStringId.PageView": "视图",
  "ASPxRichEditStringId.PageHeaderAndFooter": "Header && Footer",
  "ASPxRichEditStringId.PageTableDesign": "设计",
  "ASPxRichEditStringId.PageTableLayout": "布局",
  "ASPxRichEditStringId.PageFloatingObjects": "格式",
  "ASPxRichEditStringId.GroupUndo": "撤消",
  "ASPxRichEditStringId.GroupUndoClipboard": "Undo/Clipboard",
  "ASPxRichEditStringId.GroupFont": "字体",
  "ASPxRichEditStringId.GroupParagraph": "段",
  "ASPxRichEditStringId.GroupClipboard": "剪贴板",
  "ASPxRichEditStringId.GroupEditing": "Editing",
  "ASPxRichEditStringId.GroupCommon": "常见",
  "ASPxRichEditStringId.GroupStyles": "样式",
  "ASPxRichEditStringId.GroupZoom": "缩放",
  "ASPxRichEditStringId.GroupShow": "显示",
  "ASPxRichEditStringId.GroupIllustrations": "插图",
  "ASPxRichEditStringId.GroupText": "文本",
  "ASPxRichEditStringId.GroupTables": "表",
  "ASPxRichEditStringId.GroupSymbols": "Symbols",
  "ASPxRichEditStringId.GroupLinks": "链接",
  "ASPxRichEditStringId.GroupPages": "页",
  "ASPxRichEditStringId.GroupHeaderFooter": "Header && Footer",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignClose": "关闭",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignNavigation": "导航",
  "ASPxRichEditStringId.GroupMailMerge": "邮件合并",
  "ASPxRichEditStringId.GroupInsertFields": "Insert Fields",
  "ASPxRichEditStringId.GroupMailMergeView": "视图",
  "ASPxRichEditStringId.GroupCurrentRecord": "Current Record",
  "ASPxRichEditStringId.GroupFinish": "Finish",
  "ASPxRichEditStringId.GroupDocumentViews": "文档视图",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignOptions": "选项",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignPosition": "位置",
  "ASPxRichEditStringId.GroupPageSetup": "页面设置",
  "ASPxRichEditStringId.GroupDocumentProtection": "Protect",
  "ASPxRichEditStringId.GroupDocumentProofing": "Proofing",
  "ASPxRichEditStringId.GroupDocumentComment": "评论",
  "ASPxRichEditStringId.GroupDocumentTracking": "Tracking",
  "ASPxRichEditStringId.GroupTableOfContents": "表的内容",
  "ASPxRichEditStringId.GroupFloatingPictureToolsArrange": "安排",
  "ASPxRichEditStringId.GroupFloatingPictureToolsShapeStyles": "形状样式",
  "ASPxRichEditStringId.GroupCaptions": "标题",
  "ASPxRichEditStringId.GroupPageBackground": "背景",
  "ASPxRichEditStringId.GroupDocumentLanguage": "Language",
  "ASPxRichEditStringId.GroupView": "视图",
  "ASPxRichEditStringId.GroupTableToolsDesignTableStyleOptions": "Table Style Options",
  "ASPxRichEditStringId.GroupTableToolsDesignTableStyles": "Table Styles",
  "ASPxRichEditStringId.GroupTableToolsDesignBordersAndShadings": "Borders && Shadings",
  "ASPxRichEditStringId.GroupTableToolsLayoutTable": "表",
  "ASPxRichEditStringId.GroupTableToolsLayoutRowsAndColumns": "Rows && Columns",
  "ASPxRichEditStringId.GroupTableToolsLayoutMerge": "合并",
  "ASPxRichEditStringId.GroupTableToolsLayoutCellSize": "Cell Size",
  "ASPxRichEditStringId.GroupTableToolsLayoutAlignment": "对齐方式",
  "ASPxRichEditStringId.GroupFloatingObjectsShapeStyles": "形状样式",
  "ASPxRichEditStringId.GroupFloatingObjectsArrange": "安排",
  "ASPxRichEditStringId.RequiredFieldError": "This field is required",
  "ASPxRichEditStringId.MenuCmd_ToggleFullScreen": "Full Screen",
  "ASPxRichEditStringId.MenuCmd_ToggleFullScreenDescription": "Enable / disable the full screen mode.",
  "ASPxRichEditStringId.SaveAsFileTitle": "另存为",
  "ASPxRichEditStringId.OpenFileTitle": "打开",
  "ASPxRichEditStringId.FontTitle": "字体",
  "ASPxRichEditStringId.ParagraphTitle": "段",
  "ASPxRichEditStringId.PageSetupTitle": "页面设置",
  "ASPxRichEditStringId.ColumnsTitle": "列",
  "ASPxRichEditStringId.InsertTableTitle": "Insert Table",
  "ASPxRichEditStringId.InsertTableCellsTitle": "Insert Cells",
  "ASPxRichEditStringId.DeleteTableCellsTitle": "Delete Cells",
  "ASPxRichEditStringId.SplitTableCellsTitle": "拆分单元格",
  "ASPxRichEditStringId.TablePropertiesTitle": "Table Properties",
  "ASPxRichEditStringId.BorderShadingTitle": "Borders and Shading",
  "ASPxRichEditStringId.InsertMergeFieldTitle": "插入合并域",
  "ASPxRichEditStringId.ExportRangeTitle": "Export Range",
  "ASPxRichEditStringId.BookmarkTitle": "书签",
  "ASPxRichEditStringId.FindReplaceTitle": "Find and Replace",
  "ASPxRichEditStringId.InsertImageTitle": "Insert Picture",
  "ASPxRichEditStringId.ErrorTitle": "错误",
  "ASPxRichEditStringId.SpellingTitle": "Spelling",
  "ASPxRichEditStringId.InformationTitle": "Information",
  "ASPxRichEditStringId.WarningTitle": "警告",
  "ASPxRichEditStringId.RulerMarginLeftTitle": "Margin Left",
  "ASPxRichEditStringId.RulerMarginRightTitle": "Margin Right",
  "ASPxRichEditStringId.RulerFirstLineIndentTitle": "First Line Indent",
  "ASPxRichEditStringId.RulerHangingIndentTitle": "Hanging Indent",
  "ASPxRichEditStringId.RulerRightIndentTitle": "Right Indent",
  "ASPxRichEditStringId.RulerLeftIndentTitle": "Left Indent",
  "ASPxRichEditStringId.RulerLeftTabTitle": "Left Tab",
  "ASPxRichEditStringId.RulerRightTabTitle": "Right Tab",
  "ASPxRichEditStringId.RulerCenterTabTitle": "Center Tab",
  "ASPxRichEditStringId.RulerDecimalTabTitle": "Decimal Title",
  "ASPxRichEditStringId.MarginsNarrow": "Narrow",
  "ASPxRichEditStringId.MarginsNormal": "正常",
  "ASPxRichEditStringId.MarginsModerate": "Moderate",
  "ASPxRichEditStringId.MarginsWide": "宽",
  "ASPxRichEditStringId.ModelIsChangedError": "The document has been modified outside the editor and needs to be reloaded. <br />Your last-minute changes might not be preserved, if any.",
  "ASPxRichEditStringId.SessionHasExpiredError": "Your session has expired. <br />Please refresh the page to continue.",
  "ASPxRichEditStringId.OpeningAndOverstoreImpossibleError": "The open and save document operations are not allowed since the working directory is not specified for the editor.",
  "ASPxRichEditStringId.ClipboardAccessDeniedError": "Access to the clipboard is denied due to your browser's security policy. <br />Instead, you can use the keyboard shortcuts:<br />{0}+X (cut), {0}+C (copy) and {0}+V (paste).",
  "ASPxRichEditStringId.ClipboardAccessDeniedErrorTouch": "Access to the clipboard is denied due to your browser's security policy. Instead, use the native menu that can be invoked by tapping and holding selected content.",
  "ASPxRichEditStringId.InnerExceptionsError": "An unspecified error occurred and the editor needs to be reloaded. Your last changes can be lost.",
  "ASPxRichEditStringId.AuthExceptionsError": "Access to the document is restricted and the editor needs to be reloaded. Your last changes can be lost.",
  "ASPxRichEditStringId.CantSaveToEmptyPathError": "Cannot save a document opened not from a file. Handle the Saving event to process custom saving",
  "ASPxRichEditStringId.ConfirmOnLosingChanges": "Are you sure you want to perform the action? All unsaved document data will be lost.",
  "ASPxRichEditStringId.RestartNumbering": "Restart Numbering",
  "ASPxRichEditStringId.ContinueNumbering": "Continue Numbering",
  "ASPxRichEditStringId.UpdateField": "Update Field",
  "ASPxRichEditStringId.ToggleFieldCodes": "Toggle Field Codes",
  "ASPxRichEditStringId.OpenHyperlink": "Open hyperlink",
  "ASPxRichEditStringId.EditHyperlink": "Edit hyperlink..",
  "ASPxRichEditStringId.RemoveHyperlink": "Remove hyperlink",
  "ASPxRichEditStringId.CantOpenDocumentError": "The document could not be opened because a server error occurred.",
  "ASPxRichEditStringId.CantSaveDocumentError": "The document could not be saved because a server error occurred.",
  "ASPxRichEditStringId.DocVariableExceptionError": "The DOCVARIABLE field could not be calculated because a server error occurred.",
  "ASPxRichEditStringId.InvalidDocumentFormatError": "The file is corrupt and cannot be opened.",
  "ASPxRichEditStringId.InsertContentFromServerExceptionError": "The InsertContentFromServerCommand could not be executed because a server error occurred.",
  "ASPxRichEditStringId.LoadPictureError": "Could not load the image.",
  "ASPxRichEditStringId.MenuCmd_CreateField": "创建字段",
  "ASPxRichEditStringId.MenuCmd_CreateFieldDescription": "Create a dynamic element used as a placeholder for data that might change in a document.",
  "ASPxRichEditStringId.MenuCmd_UpdateAllFields": "Update All Fields",
  "ASPxRichEditStringId.MenuCmd_UpdateAllFieldsDescription": "Refresh all dynamic elements in the document by getting the latest source data.",
  "ASPxRichEditStringId.ParagraphStyles": "Paragraph Styles",
  "ASPxRichEditStringId.CharacterStyles": "Character Styles",
  "ASPxRichEditStringId.BulletedAndNumberingTitle": "Bulleted and Numbering",
  "ASPxRichEditStringId.CustomizeNumberedListTitle": "Customize Numbered List",
  "ASPxRichEditStringId.CustomizeBulletedListTitle": "Customize Bulleted List",
  "ASPxRichEditStringId.CustomizeOutlineNumberedTitle": "Customize Outline List",
  "ASPxRichEditStringId.HyperlinkTitle": "超链接",
  "ASPxRichEditStringId.TabsTitle": "选项卡",
  "ASPxRichEditStringId.SymbolsTitle": "Symbols",
  "ASPxRichEditStringId.OtherLabels_None": "none",
  "ASPxRichEditStringId.OtherLabels_All": "所有",
  "ASPxRichEditStringId.OtherLabels_ConfirmToRewriteExistingFile": "already exist. Do you want to replace it?",
  "ASPxRichEditStringId.Numbering_Character": "Character...",
  "ASPxRichEditStringId.Numbering_Font": "Font...",
  "ASPxRichEditStringId.Numbering_BulletCharacter": "Bullet character",
  "ASPxRichEditStringId.Numbering_BulletPosition": "Bullet position",
  "ASPxRichEditStringId.Numbering_TextPosition": "文本位置",
  "ASPxRichEditStringId.Numbering_AlignedAt": "Aligned at",
  "ASPxRichEditStringId.Numbering_IndentAt": "Indent at",
  "ASPxRichEditStringId.Numbering_StartAt": "Start at",
  "ASPxRichEditStringId.Numbering_NumberFormat": "Number format",
  "ASPxRichEditStringId.Numbering_NumberStyle": "Number style",
  "ASPxRichEditStringId.Numbering_NumberPosition": "Number position",
  "ASPxRichEditStringId.Numbering_Left": "左",
  "ASPxRichEditStringId.Numbering_Center": "中心",
  "ASPxRichEditStringId.Numbering_Right": "右",
  "ASPxRichEditStringId.Numbering_FollowNumberWith": "Follow Number With",
  "ASPxRichEditStringId.Numbering_Level": "级别",
  "ASPxRichEditStringId.Numbering_TabCharacter": "Tab character",
  "ASPxRichEditStringId.Numbering_Space": "Space",
  "ASPxRichEditStringId.Numbering_Nothing": "Nothing",
  "ASPxRichEditStringId.Numbering_Customize": "自定义…",
  "ASPxRichEditStringId.Numbering_Bulleted": "Bulleted",
  "ASPxRichEditStringId.Numbering_Numbered": "Numbered",
  "ASPxRichEditStringId.Numbering_OutlineNumbered": "Outline Numbered",
  "ASPxRichEditStringId.Hyperlink_EmailAddress": "E-mail address",
  "ASPxRichEditStringId.Hyperlink_Url": "URL",
  "ASPxRichEditStringId.Hyperlink_Bookmark": "书签",
  "ASPxRichEditStringId.Hyperlink_WebPage": "Web page",
  "ASPxRichEditStringId.Hyperlink_PlaceInThisDocument": "Place in this document",
  "ASPxRichEditStringId.Hyperlink_EmailTo": "E-mail to",
  "ASPxRichEditStringId.Hyperlink_Subject": "主题",
  "ASPxRichEditStringId.Hyperlink_DisplayProperties": "DisplayProperties",
  "ASPxRichEditStringId.Hyperlink_Text": "文本",
  "ASPxRichEditStringId.Hyperlink_ToolTip": "ToolTip",
  "ASPxRichEditStringId.Hyperlink_InvalidEmail": "Invalid E-mail",
  "ASPxRichEditStringId.Hyperlink_InvalidURL": "Invalid URL",
  "ASPxRichEditStringId.Tabs_Set": "Set",
  "ASPxRichEditStringId.Tabs_Clear": "清除",
  "ASPxRichEditStringId.Tabs_ClearAll": "清除所有",
  "ASPxRichEditStringId.Tabs_TabStopPosition": "Tab stop position",
  "ASPxRichEditStringId.Tabs_DefaultTabStops": "Default tab stops",
  "ASPxRichEditStringId.Tabs_TabStopsToBeCleared": "Tab stops to be cleared",
  "ASPxRichEditStringId.Tabs_Alignment": "对齐方式",
  "ASPxRichEditStringId.Tabs_Leader": "Leader",
  "ASPxRichEditStringId.Tabs_Left": "左",
  "ASPxRichEditStringId.Tabs_Center": "中心",
  "ASPxRichEditStringId.Tabs_Right": "右",
  "ASPxRichEditStringId.Tabs_Decimal": "十进制",
  "ASPxRichEditStringId.Tabs_None": "无",
  "ASPxRichEditStringId.Tabs_Hyphens": "Hyphens",
  "ASPxRichEditStringId.Tabs_EqualSign": "Equal signs",
  "ASPxRichEditStringId.Tabs_Dots": "Dots",
  "ASPxRichEditStringId.Tabs_Underline": "下划线",
  "ASPxRichEditStringId.Tabs_MiddleDots": "Middle dots",
  "ASPxRichEditStringId.Tabs_ThickLine": "Thick line",
  "ASPxRichEditStringId.FinishMerge_From": "From",
  "ASPxRichEditStringId.FinishMerge_Count": "计数",
  "ASPxRichEditStringId.FinishMerge_MergeMode": "Merge mode",
  "ASPxRichEditStringId.FinishMerge_AllRecords": "All records",
  "ASPxRichEditStringId.FinishMerge_CurrentRecord": "Current record",
  "ASPxRichEditStringId.FinishMerge_Range": "范围",
  "ASPxRichEditStringId.FinishMerge_NewParagraph": "New Paragraph",
  "ASPxRichEditStringId.FinishMerge_NewSection": "New Section",
  "ASPxRichEditStringId.FinishMerge_JoinTables": "Join Tables",
  "ASPxRichEditStringId.InsertMergeField_Fields": "字段",
  "ASPxRichEditStringId.Bookmarks_BookmarkName": "Bookmark name",
  "ASPxRichEditStringId.Bookmarks_SortBy": "Sort by",
  "ASPxRichEditStringId.Bookmarks_Name": "名称",
  "ASPxRichEditStringId.Bookmarks_Location": "位置",
  "ASPxRichEditStringId.Bookmarks_Add": "添加",
  "ASPxRichEditStringId.Bookmarks_Delete": "删除",
  "ASPxRichEditStringId.Bookmarks_GoTo": "Go To",
  "ASPxRichEditStringId.Bookmarks_NameErrorText": "Bookmark names must begin with a letter",
  "ASPxRichEditStringId.FindReplace_Find": "查找",
  "ASPxRichEditStringId.FindReplace_AdvancedFind": "Advanced find",
  "ASPxRichEditStringId.FindReplace_Replace": "替换",
  "ASPxRichEditStringId.FindReplace_ReplaceAll": "Replace All",
  "ASPxRichEditStringId.FindReplace_ReplaceWith": "Replace with",
  "ASPxRichEditStringId.FindReplace_Previous": "上一页",
  "ASPxRichEditStringId.FindReplace_Next": "下一次",
  "ASPxRichEditStringId.FindReplace_MatchCase": "Match case",
  "ASPxRichEditStringId.FindReplace_Results": "Results",
  "ASPxRichEditStringId.FindReplace_NoResult": "We couldn't find what you were looking for.",
  "ASPxRichEditStringId.FindReplace_TooLongResult": "The result is too long. Check out the pages to see your results in text.",
  "ASPxRichEditStringId.FindReplace_ReplaceAllNotify": "{0} entries have been replaced",
  "ASPxRichEditStringId.FindReplace_Items": "Items",
  "ASPxRichEditStringId.FindReplace_NoMatches": "No matches",
  "ASPxRichEditStringId.FindReplace_Of": "of",
  "ASPxRichEditStringId.SpellingCheckCompletedInformation": "The spelling check is complete.",
  "ASPxRichEditStringId.Spelling_IgnoreOnce": "Ignore Once",
  "ASPxRichEditStringId.Spelling_IgnoreAll": "Ignore All",
  "ASPxRichEditStringId.Spelling_AddToDictionary": "添加到词典",
  "ASPxRichEditStringId.Spelling_Delete": "删除",
  "ASPxRichEditStringId.Spelling_Change": "Change",
  "ASPxRichEditStringId.Spelling_ChangeAll": "Change All",
  "ASPxRichEditStringId.Spelling_NotInDictionary": "Not in Dictionary:",
  "ASPxRichEditStringId.Spelling_RepeatedWord": "Repeated Word:",
  "ASPxRichEditStringId.Spelling_Suggestions": "Suggestions:",
  "ASPxRichEditStringId.Spelling_NoSpellingSuggestions": "(无拼写建议)",
  "ASPxRichEditStringId.MenuCmd_MakeTextSentenceCase": "Sentence case.",
  "ASPxRichEditStringId.MenuCmd_MakeTextSentenceCaseDescription": "Sentence case.",
  "ASPxRichEditStringId.MenuCmd_ShowCellOptionsForm": "Cell Margins",
  "ASPxRichEditStringId.MenuCmd_ShowCellOptionsFormDescription": "Customize cell margins",
  "ASPxRichEditStringId.MenuCmd_HeaderOffset": "Header from Top:",
  "ASPxRichEditStringId.MenuCmd_FooterOffset": "Footer from Bottom:",
  "ASPxRichEditStringId.MenuCmd_HeaderOffsetDescription": "Specify the distance from the top of the page to the top of the header.",
  "ASPxRichEditStringId.MenuCmd_FooterOffsetDescription": "Specify the distance from the bottom of the page to the bottom of the footer.",
  "ASPxRichEditStringId.LayoutOptions_Inline": "In line with text",
  "ASPxRichEditStringId.LayoutOptions_LockAnchor": "Lock Anchor",
  "ASPxRichEditStringId.LayoutOptions_LockAspectRatio": "Lock aspect ratio",
  "ASPxRichEditStringId.LayoutOptions_Reset": "重置",
  "ASPxRichEditStringId.LayoutOptions_BothSides": "Both sides",
  "ASPxRichEditStringId.LayoutOptions_LeftOnly": "Left only",
  "ASPxRichEditStringId.LayoutOptions_RightOnly": "Right only",
  "ASPxRichEditStringId.LayoutOptions_LargestOnly": "Largest only",
  "ASPxRichEditStringId.LayoutOptions_HorizontalPositionAlignmentInside": "里面",
  "ASPxRichEditStringId.LayoutOptions_HorizontalPositionAlignmentOutside": "外面",
  "ASPxRichEditStringId.LayoutOptions_Position": "位置",
  "ASPxRichEditStringId.LayoutOptions_Horizontal": "水平",
  "ASPxRichEditStringId.LayoutOptions_Vertical": "垂直",
  "ASPxRichEditStringId.LayoutOptions_RelativeTo": "relative to",
  "ASPxRichEditStringId.LayoutOptions_HorizontalBookLayoutOf": "of",
  "ASPxRichEditStringId.LayoutOptions_AbsolutePosition": "Absolute position",
  "ASPxRichEditStringId.LayoutOptions_RelativePosition": "Relative position",
  "ASPxRichEditStringId.LayoutOptions_Alignment": "对齐方式",
  "ASPxRichEditStringId.LayoutOptions_BookLayout": "Book layout",
  "ASPxRichEditStringId.LayoutOptions_ToTheRightOf": "to the right of",
  "ASPxRichEditStringId.LayoutOptions_Below": "below",
  "ASPxRichEditStringId.LayoutOptions_TextWrapping": "Text Wrapping",
  "ASPxRichEditStringId.LayoutOptions_WrappingStyle": "Wrapping style",
  "ASPxRichEditStringId.LayoutOptions_WrapText": "文本换行",
  "ASPxRichEditStringId.LayoutOptions_DistanceFromText": "Distance from text",
  "ASPxRichEditStringId.LayoutOptions_Size": "大小",
  "ASPxRichEditStringId.LayoutOptions_Absolute": "Absolute",
  "ASPxRichEditStringId.LayoutOptions_Relative": "Relative",
  "ASPxRichEditStringId.LayoutOptions_Rotate": "旋转",
  "ASPxRichEditStringId.LayoutOptions_Rotation": "Rotation",
  "ASPxRichEditStringId.LayoutOptions_Scale": "规模",
  "ASPxRichEditStringId.LayoutOptions_OriginalSize": "Original size",
  "ASPxRichEditStringId.FileManager_OpenedFileDeleteErrorText": "The file cannot be deleted. It is already opened by another user.",
  "ASPxRichEditStringId.FileManager_OpenedFileMoveErrorText": "The file cannot be moved. It is already opened by another user.",
  "ASPxRichEditStringId.FileManager_OpenedFileRenameErrorText": "The file cannot be renamed. It is already opened by another user.",
  "ASPxRichEditStringId.CreateDateField": "DATE",
  "ASPxRichEditStringId.CreateDateFieldDescription": "Inserts the current date and time.",
  "ASPxRichEditStringId.CreateTimeField": "TIME",
  "ASPxRichEditStringId.CreateTimeFieldDescription": "Inserts the current time.",
  "ASPxRichEditStringId.CreatePageField": "PAGE",
  "ASPxRichEditStringId.CreatePageFieldDescription": "Inserts the number of the page containing the field.",
  "ASPxRichEditStringId.CreatePageCountField": "NUMPAGES",
  "ASPxRichEditStringId.CreatePageCountFieldDescription": "Inserts the total number of pages.",
  "ASPxRichEditStringId.CreateEmptyMergeField": "MERGEFIELD",
  "ASPxRichEditStringId.CreateEmptyMergeFieldDescription": "Retrieves a value from the bound data source.",
  "ASPxRichEditStringId.CreateEmptyDocVariableField": "DOCVARIABLE",
  "ASPxRichEditStringId.CreateEmptyDocVariableFieldDescription": "Enables you to programmatically insert complex content when this field is updated.",
  "ASPxRichEditStringId.InsertMergeField_NoFields": "no fields",
  "ASPxRichEditStringId.Tabs_NoTabs": "no tabs",
  "ASPxRichEditStringId.Bookmarks_NoBookmarks": "No bookmarks",
  "ASPxRichEditStringId.MenuCmd_Font_settings": "Font settings",
  "ASPxRichEditStringId.MenuCmd_Align_Paragraph": "Align Paragraph",
  "ASPxRichEditStringId.MenuCmd_Align_ParagraphDropDownHeader": "对齐方式",
  "ASPxRichEditStringId.MenuCmd_Clipboard": "剪贴板",
  "ASPxRichEditStringId.TableBorderStyle_None": "无",
  "ASPxRichEditStringId.TableBorderStyle_Single": "Single",
  "ASPxRichEditStringId.TableBorderStyle_Dotted": "Dotted",
  "ASPxRichEditStringId.TableBorderStyle_Dashed": "Dashed",
  "ASPxRichEditStringId.TableBorderStyle_Double": "Double"
}